<div class="row" carrier-controller >
  <div class="col-md-12">
    <h1 ng-if="ctrl.carrier.is_new()">Add a new Carrier</h1>
    <h1 ng-if="!ctrl.carrier.is_new()">Edit Carrier</h1>
  </div>

  <div class="col-md-12"> 
    <form class='form-horizontal smart-form' novalidate>
      <div class="row">
        <div class="col-md-12">
          <p><span>id</span> #{{ctrl.carrier.id}}</p>
        </div>
      </div>
    <div class="row">
      <div class="col-sm-4 control-label" ng-class="{'has-error':ctrl.carrier.has_errors('name')}">
        <div class="form-group">
          <label for="entity_name">Name</label>
          <input type="text" class="form-control" id="entity_name" ng-model='ctrl.carrier.name' placeholder="Name">
          <p ng-show="ctrl.carrier.has_errors('name')" class='error'>{{ctrl.carrier.errors_by_field('name')}}</p>
        </div>
      </div>
      <div class="col-sm-4" ng-if="ctrl.current_user.is_admin()">
        <div class="checkbox" style="margin-top:25px" >
          <label>
            <input ng-model="ctrl.carrier.isVendor" type="checkbox"> Is Vendor
          </label>
        </div>
      </div>
    </div>
    <div class="step1" >
      <div class="locations">
        <div class="row">
          <hr>        
          <div class="col-md-6">
            <h4 class="not-margin margintitle" >Location</h4>
          </div>
          <div class="col-md-6 text-right">
            <button class='btn btn-primary' type='button' ng-click='ctrl.add_location()'><i class="icon-img-pluss"></i> Add location</button>
          </div>
        </div>
        <div class="location" ng-repeat="location in ctrl.carrier.locations" ng-hide="location.pending_to_delete()">
          <div ng-include="partials/locations/_locations.html"></div>
        </div>
      </div>
    </div>
    <hr>
    <div class="data-carrier">
      <div class="row">
        <div class="col-md-2 text-center"> 
          <label for="currency">Currency</label>
          <select ng-model="ctrl.carrier.currency" id="currency" class="form-control">
            <option value="" disabled selected>Currency</option>
            <option value="CAD">CAD</option>
            <option value="USD">USD</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <label for="currency">Lanes</label>
        </div>
        <div class="col-md-6">
          <div class="list-group-item row">
            <div class="clearfix item-lane" ng-hide="lane.pending_to_delete()" ng-repeat="lane in ctrl.carrier.lanes" >
              <div id="min-lane" class="col-md-12">
                <button ng-click="lane.delete()" type="button" style="float: right; padding: 11px 16px;" class="btn btn-danger"><i class="glyphicon glyphicon-remove icon-btn"></i></button>
                <button ng-click="ctrl.modalEditLane(lane)" type="button" style="float: right; padding: 11px 16px;" class="btn btn-success"><i class="glyphicon glyphicon-resize-vertical icon-btn"></i></button>
                <div class="list-group">
                  <button ng-click="ctrl.modalAddShowPriceList(lane)" type="button" style="float: right; padding: 11px 16px;" class="btn btn-danger"><i class="fa fa-1 fa-bars"></i><i class="fa fa-1 fa-usd"></i></button>
                    <div class="list-group-item" style="margin-right: 155px;border-radius: 0;" >
                      <div>
                        <span> ({{lane.term1.code}} - {{lane.term2.code}}) : {{lane.term1.name}} to {{lane.term2.name}}</span>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <input type="button" ng-click="ctrl.modalAddNewLane()" class='btn btn-primary' value="add lane" />
        </div>
        <div class="col-md-2">
          <input type="button" ng-click="ctrl.stepForm(1)" class='btn btn-primary' value="Prices list" />
        </div>
        <div class="col-md-1">
          <label for="currency">Notes</label>
        </div>
        <div class="col-md-3 text-center" ng-class="{'has-error':ctrl.carrier.has_errors('note')}" >
          <textarea type="email" maxlength="250" rows="10" class="form-control" id="carrier_notes" ng-model="ctrl.carrier.note" placeholder="Notes"></textarea>
          <p ng-show="ctrl.carrier.has_errors('note')" class='error'>{{ctrl.carrier.errors_by_field('note')}}</p>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-md-12  text-center">
          <button class='btn btn-primary' ng-click="ctrl.save()">Save</button>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>