<div searchclp-controller style="padding:20px" >

  <div class="row">
    <div class="col-md-12">
      <h1>Find Carriers and Prices</h1>
    </div>
  </div>
  <form action="" class='form-horizontal smart-form' >
    <div class="row">
      <div class="col-sm-2">
        <select ng-model='ctrlClp.quoteSelected' ng-change="ctrlClp.loadLaneQuote()" id="fromCountryId" class="form-control">
          <option value="" disabled selected> Select Quote</option>
          <option ng-repeat='quote in ctrlClp.formQuotes' ng-value='quote' ng-selected="quote.id == ctrlClp.quoteSelected.id">{{quote.id}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <select ng-model='ctrlClp.shipmentSelected' id="shipment" class="form-control">
          <option value="" disabled selected> Select Shipment</option>
          <option ng-repeat='shipment in ctrlClp.shipments' ng-value='shipment' ng-selected="shipment.id == ctrlClp.shipmentSelected">{{shipment.id}}</option>
        </select>
      </div>
      <div class="col-md-3 col-md-offset-3">
        <b>Quote #: {{ctrlClp.quoteSelected.id}}</b>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="skid" class="col-sm-6 control-label">Number of skids</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="ctrlClp.skids" id="skid" >
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="text" class="col-sm-5 control-label">From </label>
          <div class="col-sm-7">
            <input type="text" ng-model="ctrlClp.cityFromSelected"
               typeahead-min-length="3"
               typeahead-on-select="ctrlClp.onSelectCity(ctrlClp.cityFromSelected, $model)"
               typeahead="city as city.name for city in ctrlClp.get_cities(ctrlClp.citiesFromAux, $viewValue)"
               typeahead-wait-ms="300"
               typeahead-loading="ctrlClp.loading['from']"
               class="form-control">
            <i ng-show="ctrlClp.loading['from']" 
            class="glyphicon glyphicon-refresh"></i>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="to" class="col-sm-2 control-label">To </label>
          <div class="col-sm-7">
            <input type="text" ng-model="ctrlClp.cityToSelected"
               typeahead-min-length="3"
               typeahead-on-select="ctrlClp.onSelectCity(ctrlClp.cityToSelected, $model)"
               typeahead="city as city.name for city in ctrlClp.get_cities(ctrlClp.citiesToAux, $viewValue)"
               typeahead-wait-ms="300"
               typeahead-loading="ctrlClp.loading['to']"
               class="form-control">
            <i ng-show="ctrlClp.loading['to']" 
            class="glyphicon glyphicon-refresh"></i>
          </div>
        </div>
      </div>
      <div class="col-offset-md-3 col-md-3">
        <button class="btn btn-primary" ng-click='ctrlClp.searchCLP()'>
          Search
        </button>
      </div>
    </div>
    <div class="col-md-8">
      <span>Search for fix proces or previos quotes for carriers that operates this line</span>
    </div>
  </form>

  <b ng-hide="ctrlClp.carriersLP.isNotEmpty" >
    No records match
  </b>

  <form action="" ng-show="ctrlClp.carrierPrices.isNotEmpty" >
    <div class="row">
      <div class="col-md-12"> 

        <table  class="table table-striped table-shipment">
          <tr>
            <th class="important">Skids:</th>
            <th class="important">1</th>
            <th class="important">2</th>
            <th class="important">3</th>
            <th class="important">4</th>
            <th class="important">5</th>
            <th class="important">6</th>
            <th class="important">7</th>
            <th class="important">Service Note</th>
            <th class="important">Rating</th>
            <th class="important"></th>
            <th class="important">Actions</th>
          </tr>
          <tr ng-repeat=" carrierPrice in ctrlClp.carrierPrices">
            <td class="important" >
              <a ng-hide="carrierPrice['carrier'] == null" ng-href="#/carriers/{{carrierPrice['carrier'].id}}/edit"  popover="{{carrierPrice['carrier'].mainLocation().name}}, {{carrierPrice['carrier'].mainLocation().name}}, {{carrierPrice['carrier'].mainLocation().phone}}, {{carrierPrice['carrier'].mainLocation().email}}" popover-trigger="mouseenter" >
                {{carrierPrice['carrier'].name}}
              </a>
            </td>

            <td ng-repeat="price in carrierPrice['lane'].prices" >
              <input type="text"  ng-model="price.price" >
            </td>
            <td colspan="{{(ctrlClp.MAX_PRICES-carrierPrice['lane'].prices.length)}}"></td>
            <td>
              <i class="fa fa-file-text-o" popover="{{carrierPrice['carrier'].note}}" popover-trigger="mouseenter" ></i>
            </td>
            <td>
              <b>3,5,4</b>
            </td>
            <td>
              <input type="radio" name="carrierSelected" ng-change="ctrlClp.changeCarrierSelected()"  ng-model="carrierPrice['selected']">
            </td>
            <td>
              <b>{{revcost.costAmountCa}}</b>
              {{carrierPrice['carrier'].mainLocation().email}}
              <i class="fa fa-envelope-o" ng-click="ctrlClp.openModalMail(carrierPrice['carrier'].mainLocation().email)" ></i>
              <i class="fa fa-times" ng-click="ctrlClp.deleteItem(ctrlClp.carrierPrices, carrierPrice)" ></i>
            </td>
          </tr>
        </table>

      </div>
    </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="from" class="col-sm-6 control-label">Carrier Name </label>
        <div class="col-sm-6">
          <input type="search" ng-model="ctrlClp.carrierSelected"
             typeahead-min-length="3"
             typeahead-on-select="ctrlClp.onSelectCarrier($item)"
             typeahead="carrier as carrier['label'] for carrier in ctrlClp.loadCarriersByString($viewValue)"
             typeahead-wait-ms="300"
             typeahead-loading="ctrlClp.loading['customer']"
             class="form-control">
          <i ng-show="ctrlClp.loading['customer']" class="glyphicon glyphicon-refresh"></i>

        </div>
      </div>
    </div>
    <div class="col-offset-md-3 col-md-3">
      <button class="btn btn-primary" ng-click="ctrlClp.searchCLPWithName()" >
        Search
      </button>
    </div>
  </div>
  <br>
    <div class="row">
      <div class="col-md-12"> 

        <table  class="table table-striped table-shipment">
          <tr>
            <th class="important">Skids:</th>
            <th class="important">1</th>
            <th class="important">2</th>
            <th class="important">3</th>
            <th class="important">4</th>
            <th class="important">5</th>
            <th class="important">6</th>
            <th class="important">7</th>
            <th class="important">Service Note</th>
            <th class="important">Rating</th>
            <th class="important"></th>
            <th class="important">Actions</th>
          </tr>
          <tr ng-repeat=" carrierPrice in ctrlClp.carrierPrices2">
            <td class="important" >
              <a ng-hide="carrierPrice['carrier'] == null" ng-href="#/carriers/{{carrierPrice['carrier'].id}}/edit"  popover="{{carrierPrice['carrier'].mainLocation().name}}, {{carrierPrice['carrier'].mainLocation().name}}, {{carrierPrice['carrier'].mainLocation().phone}}, {{carrierPrice['carrier'].mainLocation().email}}" popover-trigger="mouseenter" >
                {{carrierPrice['carrier'].name}}
              </a>
            </td>

            <td ng-repeat="price in carrierPrice['lane'].prices" >
              <input type="text"  ng-model="price.price" >
            </td>
            <td colspan="{{(ctrlClp.MAX_PRICES-carrierPrice['lane'].prices.length)}}"></td>
            <td>
              <i class="fa fa-file-text-o" popover="{{carrierPrice['carrier'].note}}" popover-trigger="mouseenter" ></i>
            </td>
            <td>
              <b>3,5,4</b>
            </td>
            <td>
              <input type="radio" name="carrierSelected" ng-change="ctrlClp.changeCarrierSelected()" ng-model="carrierPrice['selected']">
            </td>
            <td>
              <b>{{revcost.costAmountCa}}</b>
              <i class="fa fa-envelope-o" ng-click="ctrlClp.openModalMail(carrierPrice['carrier'].mainLocation().email)" ></i>
              <i class="fa fa-times" ng-click="ctrlClp.deleteItem(ctrlClp.carrierPrices2, carrierPrice)"></i>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-md-offset-8 col-md-1">
      <button class="btn btn-primary">
        Save All
      </button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" on-click="ctrl.getSelected(ctrlClp.carrierPrices)" >
        Attach Selected to quote
      </button>
    </div>
  </div>
  
</div>