<div class="row" shipment-controller >
  <div class="col-md-12">
    <h1 ng-if="ctrl.shipment.is_new()">Add a new Shipment</h1>
    <h1 ng-if="!ctrl.shipment.is_new()">Edit Shipment</h1>
  </div>

  <div class="col-md-12"> 
    <form class='form-horizontal smart-form' novalidate ng-submit="ctrl.save()">
      <div class="row">
        <div class="col-md-12 info-shipment">
          <div class="col-md-2">
            <div>
              #IM0001001
            </div>
          </div>
          <div class="col-md-2">
            <div>
              Current Date
            </div>
          </div>
          <div class="col-md-2">
            <div>
              QuoteNum : # 00110
            </div>
          </div>
          <div class="col-md-2">
            <div>
              Sales Rep: Peter
            </div>
          </div>
          <div class="col-md-2">
            <div>
              CSR: Jenny
            </div>
          </div>
          <div class="col-md-2">
            <div>
              Status: NEW
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 credit-info">
          <div class="row">
            <div class="col-md-12">
              <div class="col-xs-3 form-group">
                <label for="customer">Customer: </label>
                <select ng-model='location.customer' id="customer" class="form-control">
                  <option value="" disabled selected>Lane Code</option>
                  <option selected >ABC</option>
                </select>
              </div>
              <div class="col-xs-1">
                <label for="">City: </label>
              </div>
              <div class="col-xs-1">
                <label for="">State: </label>
              </div>
              <div class="col-xs-1"><label for="">Zip: </label>111</div>
              <div class="col-xs-4 form-group">
                <label>Credit Status pass: </label>
                <input type="text" value ="2500">
              </div>
              <div class="col-xs-2 form-group">
                <label>Balance: </label>
                <input type="text" value ="2500">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="col-xs-3 form-group">
                <label for="billto">Bill To</label>
                <select ng-model='location.billto' id="billto" class="form-control">
                  <option value="" disabled selected>Lane Code</option>
                  <option selected >ABC</option>
                </select>
              </div>
              <div class="col-xs-1">
                <label for="">City: </label>
              </div>
              <div class="col-xs-1">
                <label for="">State: </label>
              </div>
              <div class="col-xs-1"><label for="">Zip: </label>111</div>
              <div class="col-xs-4 form-group">
                <label>Credit Status pass: </label>
                <input type="text" value ="2500">
              </div>
              <div class="col-xs-2 form-group">
                <label>Balance: </label>
                <input type="text" value ="2500">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="col-xs-4 form-group">
                <label for="billto">Customs Broker</label>
                <select ng-model='location.billto' id="billto" class="form-control">
                  <option value="" disabled selected>Customs Broker</option>
                  <option selected >ABC</option>
                </select>
              </div>
              <div class="col-xs-1">
                <label for="">City: </label>
              </div>
              <div class="col-xs-1">
                <label for="">State: </label>
              </div>
              <div class="col-xs-1"><label for="">Zip: </label>111</div>
              <div class="col-xs-3 form-group">
                <label>Credit Status pass: </label>
                <input type="text" value ="2500">
              </div>
              <div class="col-xs-2 form-group">
                <label>Balance: </label>
                <input type="text" value ="2500">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row shippers container-lanes">
          <div class="col-md-6 container-info">
            <div class="" >
              <div class="row">
                <div class="col-xs-8">
                  <div class="col-xs-12">
                    <label class="title-label" for="lanecode">Shipper</label>
                    <select style="width:70%" ng-model='location.laneCode' id="lanecode" class="form-control">
                      <option value="" disabled selected>Lane Code</option>
                      <option selected >ABC</option>
                    </select>
                  </div>
                  <div class="col-xs-12">
                    <label for="">Name</label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">Address</label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">City, Zip, Country</label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">Contact Name</label>
                  </div>
                </div>
                <div class="col-xs-4">
                  <button class="btn-primary btn-vertical" >Add New Shipper</button>
                  <button class="btn-default" >Add New Location for the selected Shipper</button>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-6 container-info">
            <div class="row">
              <div class="col-md-12">
                <label class="title-align" for="instructions">Instructions</label>
                <input type="text" id="instructions">
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <label for="" class="title-label title-align">Ready Date</label>
                <input type="text" class="input-label" id="ready-date">
                <i class="fa fa-calendar"></i>
              </div>
              <div class="col-md-4">
                <label for="#open-from" class="title-label" >Open from</label>
                <input type="text" class="input-label" id="open-from">
              </div>
              <div class="col-md-3">
                <label for="#open-to" class="title-label" >To</label>
                <input type="text" class="input-label" id="open-to">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="title-align" for="appointment">Appointment</label>
                <input type="text" id="appointment">
                <i class="fa fa-calendar"></i>
                <input type="text" id="spec-handl-hour">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="title-align" for="spec-handl">Spec. Handl</label>
                <textarea id="spec-handl" class="form-control" ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="lanes" style="margin-top: 15px;">
                <div class="row">
                  <div class="col-md-12 lane">
                    <div class="col-mod col-md-1 col-xs-4 ln-number" ><span>Ln 1</span></div>
                    <div class="col-mod col-md-1 col-xs-4"><span>H</span>
                      <input type="text">
                    </div>
                    <div class="col-mod col-md-1 col-xs-4"><span>W</span>
                      <input type="text">
                    </div>
                    <div class="col-mod col-md-1 col-xs-4"><span>L</span>
                      <input type="text">
                    </div>
                    <div class="col-mod col-md-1 col-xs-4"><span>Pcs</span>
                      <input type="text">
                    </div>
                    <div class="col-mod col-md-2 col-xs-4"><span>Weight</span>
                      <input type="text">
                    </div>
                    <div class="col-mod col-md-3 col-xs-4 inner-without-padding">
                      <div class="col-md-4">
                        <span style="width: 100%;">Haz class</span>
                      </div>
                      <div class="col-md-8">
                        <select ng-model='location.laneCode' id="lanecode" class="form-control">
                          <option value="" disabled selected>Select Class</option>
                          <option selected >ABC</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-mod col-md-2 col-xs-4">
                      <select ng-model='location.laneCode' id="lanecode" class="form-control">
                        <option value="" disabled selected>Select Consignee</option>
                        <option selected >ABC</option>
                      </select>
                      </div>
                    <div class="col-mod col-md-1 col-xs-4 ln-delete">
                      <i class="fa fa-times"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="row consignees container-lanes">
          <div class="col-md-6 container-info">
            <div class="" >
              <div class="row">
                <div class="col-xs-8">
                  <div class="col-xs-12">
                    <label class="title-label" for="lanecode">Shipper</label>
                    <select style="width:70%" ng-model='location.laneCode' id="lanecode" class="form-control">
                      <option value="" disabled selected>Lane Code</option>
                      <option selected >ABC</option>
                    </select>
                  </div>
                  <div class="col-xs-12">
                    <label for="">Name</label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">Address</label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">City, Zip, Country</label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">Contact Name</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 container-info">
            <div class="row">
              <div class="col-md-12">
                <label class="title-align" for="instructions">Instructions</label>
                <input type="text" id="instructions">
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <label for="" class="title-label title-align">Ready Date</label>
                <input type="text" class="input-label" id="ready-date">
                <i class="fa fa-calendar"></i>
              </div>
              <div class="col-md-4">
                <label for="#open-from" class="title-label" >Open from</label>
                <input type="text" class="input-label" id="open-from">
              </div>
              <div class="col-md-3">
                <label for="#open-to" class="title-label" >To</label>
                <input type="text" class="input-label" id="open-to">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="title-align" for="appointment">Appointment</label>
                <input type="text" id="appointment">
                <i class="fa fa-calendar"></i>
                <input type="text" id="spec-handl-hour">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="title-align" for="spec-handl">Spec. Handl</label>
                <textarea id="spec-handl" class="form-control" ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="lanes" style="margin-top: 15px;">
                <div class="row">
                  <div class="col-md-12 lane">
                    <div class="col-mod col-md-1 col-xs-4 ln-number" ><span>Ln 1</span></div>
                    <div class="col-mod col-md-1 col-xs-4"><span>H</span>
                      <input type="text">
                    </div>
                    <div class="col-mod col-md-1 col-xs-4"><span>W</span>
                      <input type="text">
                    </div>
                    <div class="col-mod col-md-1 col-xs-4"><span>L</span>
                      <input type="text">
                    </div>
                    <div class="col-mod col-md-1 col-xs-4"><span>Pcs</span>
                      <input type="text">
                    </div>
                    <div class="col-mod col-md-2 col-xs-4"><span>Weight</span>
                      <input type="text">
                    </div>
                    <div class="col-mod col-md-3 col-xs-4 inner-without-padding">
                      <div class="col-md-4">
                        <span style="width: 100%;">Haz class</span>
                      </div>
                      <div class="col-md-8">
                        <input type="text">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
              <div class="col-md-12 info-shipment">
                <div class="col-md-2">
                  <div>
                    #IM0001001
                  </div>
                </div>
                <div class="col-md-2">
                  <div>
                    Current Date
                  </div>
                </div>
                <div class="col-md-2">
                  <div>
                    QuoteNum : # 00110
                  </div>
                </div>
                <div class="col-md-2">
                  <div>
                    Sales Rep: Peter
                  </div>
                </div>
                <div class="col-md-2">
                  <div>
                    CSR: Jenny
                  </div>
                </div>
                <div class="col-md-2">
                  <div>
                    Status: NEW
                  </div>
                </div>
              </div>
            </div>

    </form>
  </div>
</div>