<script type="text/ng-template" id="customTemplate.html">
    <a>
      <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
      <span ng-bind-html="match.label | highlight:query"></span>
    </a>
</script>

<div class="row" shipment-controller >
  <div class="col-md-6">
    <h1 ng-if="ctrl.shipment.is_new()">Add a new Shipment</h1>
    <h1 ng-if="!ctrl.shipment.is_new()">Edit Shipment</h1>
  </div>
  <div class="col-md-6" style="padding-top: 20px;">
    <div class="col-md-3">
      <button class="btn btn-primary" ng-click="ctrl.toStep(1)" >Step 1</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary" ng-click="ctrl.toStep(2)" >Step 2</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary" ng-click="ctrl.toStep(3)" >Docs & Notes</button>
    </div>
  </div>

  <div class="col-md-12"> 
    <form class='form-horizontal smart-form' novalidate>
      <div class="row">
        <div class="col-md-12 info-shipment">
          <div class="col-md-2">
            <div>
              #IM{{ctrl.shipment.id}}
            </div>
          </div>
          <div class="col-md-2">
            <div>
              {{ctrl.shipment.quote.createdAt}}
            </div>
          </div>
          <div class="col-md-2">
            <div>
              QuoteNum : # {{ctrl.shipment.quote.id}}
            </div>
          </div>
          <div class="col-md-2">
            <div>
              Sales Rep: Peter
            </div>
          </div>
          <div class="col-md-2">
            <div>
              CSR: Jenny
            </div>
          </div>
          <div class="col-md-2">
            <div>
              Status:{{ctrl.shipment.status}}
            </div>
          </div>
        </div>
      </div>

      <div class="resumen-container" ng-hide="ctrl.inStep(1)">
        <div class="row container-info" style="margin-bottom: 0;border-bottom: 0;">
          <div class="col-md-3">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-4 control-label">Customer:</label>
              <div class="col-sm-8">
                <p class="form-control-static">({{ctrl.shipment.customer.id}}) {{ctrl.shipment.customer.name}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-3"  ng-repeat="shipper in ctrl.shipment.shippers">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-4 control-label">Shipper:</label>
              <div class="col-sm-8">
                <p class="form-control-static">({{shipper.locationCustomer.id}}) {{shipper.locationCustomer.name}}</p>
              </div>
            </div>
          </div>
          <div ng-repeat="consignee in ctrl.shipment.consignees" class="col-md-3">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-4 control-label">Consignee:</label>
              <div class="col-sm-8">
                <p class="form-control-static">({{consignee.locationCustomer.id}}) {{consignee.locationCustomer.name}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row container-info" style="border-top: 0;">
          <div class="col-md-2">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-7 control-label">Total Pcs:</label>
              <div class="col-sm-5">
                <p class="form-control-static">{{ctrl.shipment.totalPcs()}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div ng-repeat="shipper in ctrl.shipment.shippers" class="form-group">
              <label for="inputEmail3" class="col-sm-7 control-label">Total Weight:</label>
              <div class="col-sm-5">
                <p class="form-control-static">{{ctrl.shipment.totalWeight()}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-12" ng-repeat="shipper in ctrl.shipment.shippers">
              <label for="inputEmail3" class="col-sm-6 control-label">Date Ready:</label>
              <div class="col-sm-6">
                <p class="form-control-static">{{shipper.dateReady}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-12" ng-repeat="consignee in ctrl.shipment.consignees">
              <label for="inputEmail3" class="col-sm-6 control-label">Date Eta:</label>
              <div class="col-sm-6">
                <p class="form-control-static">{{consignee.dateEta}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="step1" ng-show="ctrl.inStep(1)">
        <div class="row" style="margin-bottom: 0;" >
          <div class="col-md-2">
            <div class="row">
              <div class="col-md-4">
                <i class="fa fa-comments-o" style="font-size: 26px;"></i>
              </div>
              <div class="col-md-8">
                <span>22/22/2014</span>
                <span>Author</span>
              </div>
            </div>
          </div>
          <div class="col-md-10">
            <p>
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 credit-info">
            <div class="row">
              <div class="col-md-12" ng-class="{'has-error':ctrl.shipment.has_errors('customer')}" >
                <div class="col-xs-1">
                  {{ctrl.shipment.customer.name}}
                  <p ng-show="ctrl.shipment.has_errors('customer')" class='error'>{{ctrl.shipment.errors_by_field('customer')}}</p>
                </div>
                <div class="col-xs-3 form-group">
                  <label for="customer">Customer: </label>
                    <input type="text" ng-model="ctrl.asyncSelected"
                       typeahead-min-length="3"
                       typeahead-on-select="ctrl.onSelect($item['value'])"
                       typeahead="customers as customers['label'] for customers in ctrl.load_customers($viewValue)"
                       typeahead-wait-ms="300"
                       typeahead-loading="loadingLocations"
                       class="form-control">
                    <i ng-show="ctrl.loadingLocations" class="glyphicon glyphicon-refresh"></i>
                </div>
                <div class="col-xs-1">
                  <label for="">City: {{ctrl.shipment.customer.mainLocation().city.name}}</label>
                </div>
                <div class="col-xs-1">
                  <label for="">State: {{ctrl.shipment.customer.mainLocation().stateId}}</label>
                </div>
                <div class="col-xs-1"><label for="">Zip: </label>{{ctrl.shipment.customer.mainLocation().zip}}</div>
                <div class="col-xs-3 form-group">
                  <label>Credit Status pass: {{ctrl.shipment.customer.creditLimit}}</label>
                </div>
                <div class="col-xs-2 form-group">
                  <label>Balance: {{ctrl.shipment.customer.balance}}</label>
                </div>
              </div>
            </div>
            <div class="row" >
              <div class="col-md-12">
                <div class="col-xs-1">
                  <button type="button" ng-click="ctrl.modalBillTo()" class="btn btn-primary btn-lg">
                    <i class="fa fa-exchange"></i>
                  </button>
                </div>
                <div class="col-xs-3 form-group" ng-class="{'has-error':ctrl.shipment.has_errors('billto')}" >
                  <label for="billto">Bill To</label>
                  <select ng-model='ctrl.shipment.billto.id' id="billto" class="form-control">
                    <option value="" disabled selected> Select Bill To</option>
                    <option ng-repeat='billto in ctrl.billto.locations' ng-value='billto.id' ng-selected="billto.id == ctrl.shipment.billto.id">{{billto.name}}</option>
                  </select>
                  <p ng-show="ctrl.shipment.has_errors('billto')" class='error'>{{ctrl.shipment.errors_by_field('billto')}}</p>
                </div>
                <div ng-hide="ctrl.otherCustomerInBillTo()">
                  <div class="col-xs-1">
                    <label for="">City: {{ctrl.shipment.billto.city.name}}</label>
                  </div>
                  <div class="col-xs-1">
                    <label for="">State: {{ctrl.shipment.billto.city.name}}</label>
                  </div>
                  <div class="col-xs-1"><label for="">Zip: </label>{{ctrl.shipment.billto.zip}}</div>
                  <div class="col-xs-3 form-group">
                    <label>Credit Status pass: </label>
                    <b>{{ctrl.billto.creditLimit}}</b>
                  </div>
                  <div class="col-xs-2 form-group">
                    <label>Balance: </label>
                    <b>{{ctrl.billto.balance}}</b>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="col-xs-1">
                  <button type="button" ng-click="ctrl.modalCustomBroker()" class="btn btn-primary btn-lg">
                    <i class="fa fa-exchange"></i>
                  </button>
                </div>
                <div class="col-xs-3 form-group" ng-class="{'has-error':ctrl.shipment.has_errors('customBroker')}">
                  <label for="customBroker">Customs Broker: {{ctrl.shipment.customBroker.name}}</label>
                  <p ng-show="ctrl.shipment.has_errors('customBroker')" class='error'>{{ctrl.shipment.errors_by_field('customBroker')}}</p>
                </div>
                <div ng-show='ctrl.internationalShipments()'>
                  <div class="col-xs-1">
                    <label for="">City: {{ctrl.shipment.customBroker.mainLocation().city.name}}</label>
                  </div>
                  <div class="col-xs-1">
                    <label for="">State: {{ctrl.shipment.customBroker.mainLocation().stateId}}</label>
                  </div>
                  <div class="col-xs-1"><label for="">Zip: </label>{{ctrl.shipment.customBroker.mainLocation().zip}}</div>
                  <div class="col-xs-3 form-group">
                    <label>Credit Status pass: {{ctrl.shipment.customBroker.creditLimit}}</label>
                  </div>
                  <div class="col-xs-2 form-group">
                    <label>Balance: {{ctrl.shipment.customBroker.balance}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-hide="ctrl.has_shippers()">
          <div class="col-md-12">
            <button type="button" ng-click="ctrl.modalAddShipper()" ng-hide="ctrl.hasValidShipper()" class="btn btn-primary btn-lg">
              <i class="fa fa-plus"></i> Add Shipper
            </button>
          </div>
        </div>

        <div  ng-repeat='shipper in ctrl.shipment.shippers'  class="row shippers container-lanes clear-margin-bottom" ng-hide="shipper.pending_to_delete()">
          <div class="col-md-6 container-info">
            <div class="" >
              <div class="row">
                <div class="col-xs-8">
                  <div class="col-xs-12">
                    <div class="col-xs-3">
                      <label class="title-label" for="lanecode">Shipper {{($index + 1)}}</label>
                    </div>
                    <div class="col-xs-9">                      
                      <select ng-model='shipper.locationCustomer' id="shipper#{$index}" class="form-control">
                        <option value="" disabled selected> Select Customer Location</option>
                        <option ng-repeat='location in shipper.customer.locations' ng-value="location" ng-selected="location.id == shipper.locationCustomer.id">{{location.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <label for="">Name: {{shipper.locationCustomer.name}}</label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">Address 1: {{shipper.locationCustomer.address1}}</label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">Address 2:{{shipper.locationCustomer.address2}} </label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">City: {{shipper.locationCustomer.city.name}}, Zip:{{shipper.locationCustomer.zip}}, Country:{{shipper.locationCustomer.country['name']}} </label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">Contact Name: {{shipper.locationCustomer.contacts.first.name}}</label>
                  </div>
                  
                </div>
                <div class="col-xs-4">
                  <button class="btn-primary btn-vertical" ng-click="ctrl.addCustomer()" >Add New Shipper</button>
                  <button ng-click='ctrl.addLocationToCustomer(shipper)' class="btn-default" >Add New Location for the selected Shipper</button>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-6 container-info">
            <div class="row">
              <div class="col-md-12">
                <button ng-hide="!ctrl.hasMoreOneShipperLocations()" ng-click="ctrl.shipment.delete_shipper(shipper)" class="ng-binding pull-right">
                  <i class="fa fa-times"></i>
                </button>
                <label class="title-align"  for="instructions">Instructions</label>
                <input ng-model="shipper.instructions" type="text" id="instructions">
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <label for="" class="title-label title-align">Ready Date</label>
                <input type="text" class="input-label" ng-model="shipper.dateReady" id="ready-date">
                <p ng-show="shipper.has_errors('dateReady')" class='error'>{{shipper.errors_by_field('dateReady')}}</p>
                <!-- <datepicker  ng-model="shipper.dateReady" ></datepicker> -->
                <i class="fa fa-calendar"></i>
              </div>
              <div class="col-md-4">
                <label for="#open-from" class="title-label" >Open from</label>
                <input type="text" class="input-label" ng-model="shipper.openFrom" id="open-from">
              </div>
              <div class="col-md-3">
                <label for="#open-to" class="title-label" >To</label>
                <input type="text" class="input-label" ng-model="shipper.openTo" id="open-to">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="title-align" for="appointment">Appointment</label>
                <input type="text" id="appointment" ng-model="shipper.dateAppointment" >
                <i class="fa fa-calendar"></i>
                <input type="text" id="spec-handl-hour" ng-model="shipper.appointmentHour" >
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="title-align" for="spec-handl">Spec. Handl</label>
                <textarea id="spec-handl" class="form-control" ng-model="shipper.specialHandling" ></textarea>
              </div>
            </div>
          </div>
          <div class="row clear-margin-bottom">
            <div class="col-md-12">
              <div class="row" ng-show="shipper.has_errors('lines')">
                <div class="col-md-12  credit-info text-center">
                  <p  class='error'>{{shipper.errors_by_field('lines')}}</p>
                </div>
              </div>
              <div class="lanes" ng-hide="line.pending_to_delete()" ng-repeat="line in shipper.lines" style="margin-top: 15px;">
                <div class="row" >
                  <div class="col-md-12 lane">
                    <div class="col-mod col-md-1 col-xs-4 ln-number" ><span>Ln {{$index + 1}}</span></div>
                    <div class="col-mod col-md-1 col-xs-4" ><span>H</span>
                      <input ng-model="line.height" type="text">
                      <p ng-show="line.has_errors('height')" class='error'>{{line.errors_by_field('height')}}</p>
                    </div>
                    <div class="col-mod col-md-1 col-xs-4"><span>W</span>
                      <input ng-model="line.width" type="text">
                      <p ng-show="line.has_errors('width')" class='error'>{{line.errors_by_field('width')}}</p>
                    </div>
                    <div class="col-mod col-md-1 col-xs-4"><span>L</span>
                      <input ng-model="line.length" type="text">
                      <p ng-show="line.has_errors('length')" class='error'>{{line.errors_by_field('length')}}</p>
                    </div>
                    <div class="col-mod col-md-1 col-xs-4" ><span>Pcs</span>
                      <input ng-model="line.numPcs" ng-change="ctrl.shipment.checkTotal()" type="text">
                      <p ng-show="line.has_errors('numPcs')" class='error'>{{line.errors_by_field('numPcs')}}</p>
                    </div>
                    <div class="col-mod col-md-2 col-xs-4"><span>Weight</span>
                      <input ng-model="line.weight" ng-change="ctrl.shipment.checkTotal()" type="text">
                      <p ng-show="line.has_errors('weight')" class='error'>{{line.errors_by_field('weight')}}</p>
                    </div>
                    <div class="col-mod col-md-3 col-xs-4 inner-without-padding">
                      <div class="col-md-4">
                        <span style="width: 100%;">Haz class</span>
                      </div>
                      <div class="col-md-8">
                        <select ng-model='line.hazard' id="lanecode" class="form-control">
                          <option value="" disabled selected>Select Class</option>
                          <option selected >ABC</option>
                        </select>
                        <p ng-show="line.has_errors('hazard')" class='error'>{{line.errors_by_field('hazard')}}</p>
                      </div>
                    </div>
                    <div class="col-mod col-md-2 col-xs-4">
                      <select ng-change="ctrl.change_line(line)" ng-model='line.consigneeId' id="consignee" class="form-control">
                        <option value="" disabled selected>Select consignee</option>
                        <option ng-repeat='consignee in ctrl.shipment.consignees' ng-value="consignee.idToSelect()" value="{{consignee.idToSelect()}}" ng-selected="consignee.id == line.consigneeId">{{consignee.consigneeName}}({{consignee.locationCustomer.name}})</option>
                      </select>
                      <p ng-show="line.has_errors('consigneeId')" class='error'>{{line.errors_by_field('consigneeId')}}</p>
                    </div>
                    <div class="col-mod col-md-1 col-xs-4 ln-delete">
                      <button ng-click="ctrl.deleteLine(line)" >
                        <i  class="fa fa-times"></i>
                      </button>                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <button type="button" ng-click="ctrl.modalAddShipper()" ng-hide="ctrl.hasValidShipper()" class="btn btn-primary btn-lg">
                <i class="fa fa-plus"></i> Add Shipper
              </button>
            </div>
            <div class="col-md-3">
              <div ng-hide="ctrl.hasValidConsignee()" >
                <button type="button" ng-click="ctrl.modalConsignee()" class="btn btn-primary btn-lg">
                  <i class="fa fa-plus"></i> New Consignee Location
                </button>
              </div>
            </div>
            <div class="col-md-2">
              <button type="button" ng-click='shipper.addNewLane()' class="btn btn-primary btn-lg">
                <i class="fa fa-plus"></i> More Lines
              </button>
            </div>
          </div>
          <div  ng-show='false' class="col-md-5 pull-right" style=" background-color: #fff;padding: 10px;margin-bottom: 15px; border: 1px solid #ccc; margin-top: -15px;">

            <label class="title-label" for="lanecode">Consignee</label>
            <select ng-model='ctrl.consignee_id' ng-change="ctrl.change_consignee()" id="consignee" class="form-control">
              <option value="" disabled selected>Select consignee</option>
              <option ng-repeat='consignee in ctrl.consignees_to_select' ng-value='consignee[0]' ng-selected="consignee[0] == ctrl.consignee_id">{{consignee[1]}}</option>
            </select>

            <label class="title-label" for="lanecode">Location</label>
            <select ng-model='ctrl.consigneeLocation_id' id="location" class="form-control">
              <option value="" disabled selected>Select Location</option>
              <option ng-repeat='location in ctrl.consigne_locations' ng-value='location[0]' ng-selected="location[0] == ctrl.consigneeLocation_id">{{location[1]}}</option>
            </select>
            <button class="btn btn-primary" >Add Consignee Location</button>
          </div>
        </div>
        
        <div class="row" ng-show="ctrl.shipment.has_errors('shippers')">
          <div class="col-md-12  credit-info text-center">
            <p  class='error'>{{ctrl.shipment.errors_by_field('shippers')}}</p>
          </div>
        </div>

        <div ng-repeat="consignee in ctrl.shipment.consignees" ng-hide="consignee.pending_to_delete()" style="margin-top:20px;" class="row consignees container-lanes clear-margin-bottom">
          <div class="col-md-6 container-info">
            <div class="" >
              <div class="row">
                <div class="col-xs-12">
                  <div class="col-xs-12">
                    <label class="title-label" for="lanecode">Consignee</label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">Name: {{consignee.locationCustomer.name}}</label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">Address 1:{{consignee.locationCustomer.address1}} </label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">Address 2:{{consignee.locationCustomer.address2}} </label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">City: {{consignee.locationCustomer.city.name}}, Zip:{{consignee.locationCustomer.zip}}, Country:{{consignee.locationCustomer.country['name']}} </label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">Contact Name: {{consignee.locationCustomer.contacts.first.name}}</label>
                  </div>
                  
                  <div class="row">
                    <div class="col-md-8 col-md-offset-4">
                      <div class="col-md-3" style="padding: 0;">
                        <label for="">Open from: </label>
                      </div>
                      <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="consignee.openFrom">
                      </div>
                      <div class="col-md-1" style="margin-left: -20px;">
                        <label for="">To: </label>
                      </div>
                      <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="consignee.openTo">
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 container-info">
            <div class="row">
              <div class="col-md-12">
                <button ng-click="ctrl.shipment.delete_consignee(consignee)" class="ng-binding pull-right">
                  <i class="fa fa-times"></i>
                </button>
                <label class="title-align" for="instructions"  >Instructions</label>
                <input ng-model="consignee.instructions" type="text" id="instructions">
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <label for="" class="title-label title-align">Eta</label>
                <input ng-model="consignee.dateEta" type="text" class="input-label" id="ready-date">
                <i class="fa fa-calendar"></i>
              </div>
              <div class="col-md-7">
                <div class="form-group">
                  <label class="title-align" for="appointment">Appointment</label>
                  <input ng-model="consignee.dateAppointment" style="width: 80px;" type="text" id="appointment">
                  <i class="fa fa-calendar"></i>
                  <input ng-model="consignee.appointmentHour" style="width: 80px;" type="text" id="spec-handl-hour">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="title-align" for="spec-receivedBy">Received By</label>
                  <input ng-model="consignee.receivedBy" id="spec-receivedBy" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label style="width:50px" for="appointment">On</label>
                  <input ng-model="consignee.dateReceived" style="width: 80px;" type="text" id="appointment">
                  <i class="fa fa-calendar"></i>
                  <input ng-model="consignee.receivedHour" style="width: 80px;" type="text" id="spec-handl-hour">
                </div>
              </div>
            </div>
          </div>
          <div class="row clear-margin-bottom">
            <div ng-repeat="line in consignee.lines" ng-hide="line.pending_to_delete()" class="col-md-12">
              <div class="lanes" style="margin-top: 15px;">
                <div class="row">
                  <div class="col-md-12 lane">
                    <div class="col-mod col-md-1 col-xs-4 ln-number" >
                      <span>Ln {{$index+1}}</span>
                    </div>
                    <div class="col-mod col-md-1 col-xs-4"><span>H</span>
                      <input ng-model="line.height" readonly type="text">s
                    </div>
                    <div class="col-mod col-md-1 col-xs-4"><span>W</span>
                      <input ng-model="line.width" readonly type="text">
                    </div>
                    <div class="col-mod col-md-1 col-xs-4"><span>L</span>
                      <input ng-model="line.length" readonly type="text">
                    </div>
                    <div class="col-mod col-md-1 col-xs-4"><span>Pcs</span>
                      <input ng-model="line.numPcs" readonly type="text">
                    </div>
                    <div class="col-mod col-md-2 col-xs-4"><span>Weight</span>
                      <input ng-model="line.weight" readonly type="text">
                    </div>
                    <div class="col-mod col-md-3 col-xs-4 inner-without-padding">
                      <div class="col-md-4">
                        <span style="width: 100%;">Haz class</span>
                      </div>
                      <div class="col-md-8">
                        <input ng-model="line.hazard" readonly type="text">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row" ng-show="ctrl.shipment.has_errors('consignees')">
          <div class="col-md-12  credit-info text-center">
            <p  class='error'>{{ctrl.shipment.errors_by_field('consignees')}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 info-shipment ">
            <div class="col-md-2">
              <div>
                
              </div>
            </div>
            <div class="col-md-2">
              <div>
                Total
              </div>
            </div>
            <div class="col-md-1">
              <div>
                Pcs:{{ctrl.shipment.totalPcs()}}
              </div>
            </div>
            <div class="col-md-2">
              <div>
                Weight:{{ctrl.shipment.totalWeight()}}
              </div>
            </div>
            <div class="col-md-2">
              <div>
                More Info?
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-8">
            <div class="checkbox">
              <label>
                <input ng-model="ctrl.shipment.multipleCarriers" type="checkbox"> Multiple Carriers
              </label>
            </div>
          </div>
          <div class="col-md-2">
            <button ng-click="ctrl.toStep(2)" class="btn-primary">
              Next Page
            </button>
          </div>
        </div>
      </div>
      <div class="step2" ng-show="ctrl.inStep(2)">
        <div class="row">
          <div class="col-md-12">
            <div class="resumen-step1">
              resumen form step1
            </div>
          </div>
        </div>

        <div class="row" ng-hide="sCarrier.pending_to_delete()" ng-repeat="sCarrier in ctrl.shipment.carriers">
          <div class="col-md-12">
            <div class="col-md-6 container-info">
              <div class="" >
                <div class="row">
                  <div class="col-xs-7">
                    <div class="col-xs-12" ng-class="{'has-error':sCarrier.has_errors('carrier')}" >
                      <label class="title-label" for="lanecode">Carrier {{($index+1)}}</label>
                      <input type="text" ng-model="sCarrier.helperInput"
                         typeahead-min-length="3"
                         typeahead-on-select="ctrl.onSelectCarrier(sCarrier,$item)"
                         typeahead="carrier as carrier['label'] for carrier in ctrl.loadCarriersByString($viewValue)"
                         typeahead-wait-ms="300"
                         typeahead-loading="ctrl.loadingLocations"
                         class="form-control">
                      <i ng-show="ctrl.loadingLocations" class="glyphicon glyphicon-refresh"></i>
                      <p ng-show="sCarrier.has_errors('carrier')" class='error'>{{sCarrier.errors_by_field('carrier')}}</p>
                </td>
                    </div>
                    <div class="col-xs-12">
                      <label for="">Name:{{sCarrier.carrier.name}}</label>
                    </div>
                    <div class="col-xs-12">
                      <label for="">Address 1 : {{sCarrier.carrier.mainLocation().address1}}</label>
                    </div>
                    <div class="col-xs-12">
                      <label for="">City: {{sCarrier.carrier.mainLocation().city.name}}, Zip:{{sCarrier.carrier.mainLocation().zip}}, Country:{{sCarrier.carrier.mainLocation().countryId}} </label>
                    </div>
                    <div class="col-xs-12">
                      <label for="">Contact Name: {{sCarrier.carrier.mainLocation().contacts.first.name}}</label>
                    </div>
                  </div>

                  <div class="col-xs-5">
                    <button class="btn-primary btn-vertical" ng-click="ctrl.addCarrier()" >Add New Carrier</button>
                    <button class="btn-primary btn-vertical" >View Carrier & Prices</button>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-6 container-info">
              <div class="row">
                <div class="col-md-3">
                  <label class="title-align" style="line-height: 60px;" >Various info</label>
                </div>
                <div class="col-md-4">
                  <select ng-model='sCarrier.equipment' id="customer" class="form-control">
                    <option value="" disabled selected>Equipment</option>
                    <option selected >ABC</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <select ng-model='sCarrier.booked' id="customer" class="form-control">
                    <option value="" disabled selected>Booked</option>
                    <option selected >ABC</option>
                  </select>
                </div>
                <div class="col-md-1">
                  <button ng-hide="!ctrl.hasMoreThanOneCarrier()" ng-click="ctrl.shipment.delete_carrier(sCarrier)" class="ng-binding pull-right">
                    <i class="fa fa-times"></i>
                  </button>
                </div>
                <div class="col-md-4">
                  <select ng-model='sCarrier.service' id="customer" class="form-control" style="margin-top: 10px;">
                    <option value="" disabled selected>Service</option>
                    <option selected >ABC</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label for="">Insure. Amt</label>
                </div>
                <div class="col-md-3">
                  <input type="text" ng-model='sCarrier.insureAmt' style="width: 100%;" >
                </div>
                <div class="col-md-3">
                  <label for="">Other</label>
                </div>
                <div class="col-md-3">
                  <input type="text" ng-model='sCarrier.other' style="width: 100%;">
                </div>
              </div>
            </div>
          </div>
        </div>


        <!--Begin multiple carriers -->
        <!--    <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-6 container-info">
                      <div class="" >
                        <div class="row">
                          <div class="col-xs-7">
                            <div class="col-xs-12">
                              <label class="title-label" for="lanecode">Shipper</label>
                              <select style="width:70%" ng-model='location.laneCode' id="lanecode" class="form-control">
                                <option value="" disabled selected>Lane Code</option>
                                <option selected >ABC</option>
                              </select>
                            </div>
                            <div class="col-xs-12">
                              <label for="">Name</label>
                            </div>
                            <div class="col-xs-12">
                              <label for="">Address</label>
                            </div>
                            <div class="col-xs-12">
                              <label for="">City, Zip, Country</label>
                            
                            </div>
                            <div class="col-xs-12">
                              <label for="">Contact Name</label>
                            </div>
                          </div>
                          <div class="col-xs-5">
                            <button class="btn-primary btn-vertical" >Add New Shipper</button>
                            <button class="btn-primary btn-vertical" >Add New location for an existings</button>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 container-info">
                      <div class="row">
                        <div class="col-md-12">
                          <label class="title-align" for="instructions">Instructions</label>
                        </div>
                        <div class="col-md-12">
                          <textarea rows="3" class="form-control" ></textarea>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <label class="title-align" for="appointment">Appointment</label>
                          <input type="text" >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
         -->
        <!--End multiple carriers -->




        <div class="row">
          <div class="col-md-12">
            <button ng-click="ctrl.addNewCarrier()" ng-show="ctrl.shipment.multipleCarriers" ng-hide="ctrl.maxCarrier()" class="btn-primary btn pull-left" >Add Carrier</button>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <h3>The estimated and agreed costs and revenue</h3>
            <div ng-show="ctrl.shipment.has_errors('revenue_and_costs')" ng-class="{'has-error':ctrl.shipment.has_errors('revenue_and_costs')}" >
              <br>
              <p  class='error'>{{ctrl.shipment.errors_by_field('revenue_and_costs')}}</p>
              <br>
              <br>
            </div>
            <table  class="table table-striped table-shipment">
              <tr>
                <th class="important">Seq</th>
                <th>Bill To</th>
                <th>Code</th>
                <th>Amount</th>
                <th>Curr.</th>
                <th>Amt CAD</th>
                <th class="important">Inv</th>
                <th>Vendor</th>
                <th>Code</th>
                <th>Amount</th>
                <th>Currency</th>
                <th>Amt CAD</th>
                <th class="important">Inv</th>
                <th class="important">Profit</th>
                <th class="important">Actions</th>
              </tr>
              <tr ng-repeat=" revcost in ctrl.shipment.revCosts"  ng-hide="revcost.pending_to_delete()" >
                <td class="important" >{{$index+1}}</td>
                <td ng-class="{'has-error':revcost.has_errors('billTo')}" >
                  <input type="text" ng-model="revcost.revenue.billToSelected"
                   typeahead-min-length="3"
                   typeahead-on-select="ctrl.onSelectBillToRevenue(revcost.revenue, $item['value'])"
                   typeahead="billto as billto['label'] for billto in ctrl.loadBillToCustomer($viewValue)"
                   typeahead-wait-ms="700"
                   typeahead-loading="revcost.revenue.loading"
                   class="form-control">
                  <p ng-show="revcost.revenue.has_errors('billTo')" class='error'>{{revcost.revenue.errors_by_field('billTo')}}</p>
                </td>
                <td ng-class="{'has-error':revcost.revenue.has_errors('accountCode')}" >
                  <select ng-model='revcost.revenue.accountCode' id="accountCode{{$index}}" class="form-control">
                    <option value="" disabled selected> Select Code</option>
                    <option ng-repeat='accountCode in ctrl.accountCodes' ng-value='accountCode' ng-selected="accountCode == revcost.revenue">{{accountCode.toUpperCase()}}</option>
                  </select>
                   <p ng-show="revcost.revenue.has_errors('accountCode')" class='error'>{{revcost.revenue.errors_by_field('accountCode')}}</p>
                </td>
                <td ng-class="{'has-error':revcost.revenue.has_errors('amount')}" >
                  <input ng-model="revcost.revenue.amount" ng-change="ctrl.changeRevenue(revcost)" type="text">
                  <p ng-show="revcost.revenue.has_errors('amount')" class='error'>{{revcost.revenue.errors_by_field('amount')}}</p>
                </td>
                <td ng-class="{'has-error':revcost.revenue.has_errors('currency')}" >
                  <b>{{revcost.revenue.currency}}</b>
                  <p ng-show="revcost.revenue.has_errors('currency')" class='error'>{{revcost.revenue.errors_by_field('currency')}}</p>
                </td>
                <td ng-class="{'has-error':revcost.revenue.has_errors('amountCa')}" >
                  <b>{{revcost.revenue.amountCa}}</b>
                  <p ng-show="revcost.revenue.has_errors('amountCa')" class='error'>{{revcost.revenue.errors_by_field('amountCa')}}</p>
                </td>
                <td class="important" >
                  <b>{{ctrl.showInvoiceStatus(revcost.revenue.invoice)}}</b>
                </td>
                <td ng-class="{'has-error':revcost.cost.has_errors('vendor')}">
                  <input type="text" ng-model="revcost.cost.vendorSelected"
                   typeahead-min-length="3"
                   typeahead-on-select="ctrl.onSelectVendor(revcost.cost, $item['value'])"
                   typeahead="vendor as vendor['label'] for vendor in ctrl.load_vendorsByString($viewValue)"
                   typeahead-wait-ms="700"
                   typeahead-loading="revcost.cost.loading"
                   class="form-control">
                  <p ng-show="revcost.cost.has_errors('vendor')" class='error'>{{revcost.cost.errors_by_field('vendor')}}</p>
                </td>
                <td ng-class="{'has-error':revcost.cost.has_errors('accountCode')}">
                  <select ng-model='revcost.cost.accountCode' id="accountCode{{$index}}" class="form-control">
                    <option value="" disabled selected> Select Code</option>
                    <option ng-repeat='accountCode in ctrl.accountCodes' ng-value='accountCode' ng-selected="accountCode == revcost.cost">{{accountCode.toUpperCase()}}</option>
                  </select>
                  <p ng-show="revcost.cost.has_errors('accountCode')" class='error'>{{revcost.cost.errors_by_field('accountCode')}}</p>
                </td>
                <td ng-class="{'has-error':revcost.cost.has_errors('amount')}">
                  <input ng-model="revcost.cost.amount" ng-change="ctrl.changeCost(revcost)" type="text">
                  <p ng-show="revcost.cost.has_errors('amount')" class='error'>{{revcost.cost.errors_by_field('amount')}}</p>
                </td>
                <td ng-class="{'has-error':revcost.cost.has_errors('currency')}">
                  <b>{{revcost.cost.currency}}</b>
                  <p ng-show="revcost.cost.has_errors('currency')" class='error'>{{revcost.cost.errors_by_field('currency')}}</p>
                </td>
                <td ng-class="{'has-error':revcost.cost.has_errors('amountCa')}">
                  <b>{{revcost.cost.amountCa}}</b>
                  <p ng-show="revcost.cost.has_errors('amountCa')" class='error'>{{revcost.cost.errors_by_field('amountCa')}}</p>
                </td>
                <td class="important" >
                  <b>{{ctrl.showInvoiceStatus(revcost.cost.invoice)}}</b>
                </td>
                <td class="important" ng-class="{'has-error':revcost.has_errors('profit')}" >
                  {{revcost.profit}}
                  <p ng-show="revcost.has_errors('profit')" class='error'>{{revcost.errors_by_field('profit')}}</p>
                </td>
                <td class="actions important">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i>
                      Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a ng-click='ctrl.deleteRCLine(revcost)'>
                        <i class="glyphicon pull-left glyphicon-remove"></i>Delete</a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <th colspan="3" >Total</th>
                <th colspan="2" >{{ctrl.helperTotal['RevAmount'].toStringAsFixed(2)}}</th>
                <th colspan="4" >{{ctrl.helperTotal['amountRevCa'].toStringAsFixed(2)}}</th>
                <th colspan="2" >{{ctrl.helperTotal['CostAmount'].toStringAsFixed(2)}}</th>
                <th colspan="2" >{{ctrl.helperTotal['amountCostCa'].toStringAsFixed(2)}}</th>
                <th >{{ctrl.helperTotal['profit'].toStringAsFixed(2)}}</th>
                <th>
                  <button type="button" ng-click='ctrl.addRCLine()' class="btn btn-primary btn-lg">
                    <i class="fa fa-plus"></i> Add Lines
                  </button>
                </th>
              </tr>
            </table>
          </div>
        </div>

        <div class="row">
          <div id="rate" class="col-md-4 rates">
            <h3>Rate this shipment</h3>
            <div>
              <label for="speed-rating">Speed:</label>
              <rating id="speed-rating" max-rating="5" rating="ctrl.shipment.ratingSpeed.value">
            </div>
            <div>
              <label for="quality-rating">Quality:</label>
              <rating id="quality-rating" max-rating="5" rating="ctrl.shipment.ratingQuality.value">
            </div>
            <div>
              <label for="price-rating">Price:</label>
              <rating id="price-rating" max-rating="5" rating="ctrl.shipment.ratingPrice.value">
            </div>
          </div>
          <div class="col-md-1">
            <button ng-click="ctrl.toStep(1)" class="btn btn-primary">
              Back
            </button>
          </div>
          <div class="col-md-1">
            <button ng-click="ctrl.toStep(3)" class="btn btn-primary">
              Next
            </button>
          </div>
          <div class="col-md-1">
            <button class="btn btn-primary"  ng-click="ctrl.save()">
              Save
            </button>
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary" ng-click="ctrl.pdfBooked()">
              Make booking PDF
            </button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-primary">
              Make Customer Confirmation
            </button>
          </div>
        </div>
      </div>
      <div class="step3" ng-show="ctrl.inStep(3)">
        <div class="row">
          <div class="col-md-7">
            <div id="external-notes">
              <div class="row">
                <div class="col-md-12">
                  <label class="title-align" for="spec-handl">External Notes</label>
                  <textarea ng-class="{'has-error':ctrl.helperExNote.has_errors('description')}" ng-model="ctrl.helperExNote.description" id="spec-handl" class="form-control" ></textarea>
                    <p ng-show="ctrl.helperExNote.has_errors('description')" class='error'>{{ctrl.helperExNote.errors_by_field('description')}}</p>
                  </td>

                  <div class="row">
                    <div class="col-md-12">
                      <button class="btn-primary btn pull-right" style="margin-top: 15px;" ng-click="ctrl.addExternalNote()" >Add Note</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" ng-repeat="note in ctrl.shipment.externalNotes">
                <div ng-include="partials/notes/_note.html"></div>
              </div>
            </div>
            <div id="internal-notes" ng-if="ctrl.current_user.is_csr_admin()" >
              <div class="row">
                <div class="col-md-12">
                  <label class="title-align" for="spec-handl">Internal Notes</label>
                  <textarea ng-class="{'has-error':ctrl.helperInNote.has_errors('description')}" ng-model="ctrl.helperInNote.description" id="spec-handl" class="form-control" ></textarea>
                    <p ng-show="ctrl.helperInNote.has_errors('description')" class='error'>{{ctrl.helperInNote.errors_by_field('description')}}</p>
                  </td>

                  <div class="row">
                    <div class="col-md-12">
                      <button class="btn-primary btn pull-right" style="margin-top: 15px;" ng-click="ctrl.addInternalNote()" >Add Note</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" ng-repeat="note in ctrl.shipment.internalNotes">
                <div ng-include="partials/notes/_note.html"></div>
              </div>
            </div>

            <div class="row">
              <h3>Documents Uploaded</h3>
              <table class="table">
                <tr>
                  <td>
                    <i class="fa fa-file-pdf-o"></i>
                  </td>
                  <td>Date: Mar 17</td>
                  <td>Document type: Inv</td>
                  <td>
                    <a href="#">View Download</a>
                  </td>
                </tr>
              </table>              
            </div>
            <div class="row">
              <input type="file" id="files" name="file" />
              <button id="cancel-read">Cancel read</button>
              <div id="progress-bar">0%</div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn-primary btn" >Add New</button>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <h3>Emails</h3>
                <table class="table">
                  <tr>
                    <th>Date</th>
                    <th>From</th>
                    <th>Subject</th>
                  </tr>
                  <tr>
                    <td>03/10/2014</td>
                    <td>Jhon M</td>
                    <td><a href="#">About the Quote</a></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
         <div class="row">
          <div class="col-md-offset-6 col-md-1">
            <button ng-click="ctrl.toStep(2)" class="btn btn-primary">
              Back
            </button>
          </div>
          <div class="col-md-1">
            <button class="btn btn-primary"  ng-click="ctrl.save()">
              Save
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>