<script type="text/ng-template" id="customTemplate.html">
    <a>
        <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
        <span ng-bind-html="match.label | highlight:query"></span>
    </a>
</script>

<div class="row" shipment-controller >
  <div class="col-md-12">
    <h1 ng-if="ctrl.shipment.is_new()">Add a new Shipment</h1>
    <h1 ng-if="!ctrl.shipment.is_new()">Edit Shipment</h1>
  </div>

  <div class="col-md-12"> 
    <form class='form-horizontal smart-form' novalidate ng-submit="ctrl.save()">
      <div class="row">
        <div class="col-md-12 info-shipment">
          <div class="col-md-2">
            <div>
              #IM0001001
            </div>
          </div>
          <div class="col-md-2">
            <div>
              Current Date
            </div>
          </div>
          <div class="col-md-2">
            <div>
              QuoteNum : # 00110
            </div>
          </div>
          <div class="col-md-2">
            <div>
              Sales Rep: Peter
            </div>
          </div>
          <div class="col-md-2">
            <div>
              CSR: Jenny
            </div>
          </div>
          <div class="col-md-2">
            <div>
              Status: NEW
            </div>
          </div>
        </div>
      </div>
      <div class="step1" ng-show="ctrl.inStep(1)">
        <div class="row" style="margin-bottom: 0;" >
          <div class="col-md-2">
            <div class="row">
              <div class="col-md-4">
                <i class="fa fa-comments-o" style="font-size: 26px;"></i>
              </div>
              <div class="col-md-8">
                <span>22/22/2014</span>
                <span>Author</span>
              </div>
            </div>
          </div>
          <div class="col-md-10">
            <p>
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 credit-info">
            <div class="row">
              <div class="col-md-12">
                <div class="col-xs-1">
                  {{ctrl.shipment.customer.name}}
                </div>
                <div class="col-xs-3 form-group">
                  <label for="customer">Customer: </label>
                    <input type="text" ng-model="ctrl.asyncSelected"
                       typeahead-min-length="3"
                       typeahead-on-select="ctrl.onSelect($item, $model, $label)"
                       typeahead="customers as customers['label'] for customers in ctrl.load_customers($viewValue)"
                       typeahead-wait-ms="300"
                       typeahead-loading="loadingLocations"
                       class="form-control">
                    <i ng-show="ctrl.loadingLocations" class="glyphicon glyphicon-refresh"></i>

     <!--         <select ng-model='shipment.id' id="customer" class="form-control">
                    <option value="" disabled selected>Select Customer</option>
                    <option ng-repeat='customer in ctrl.shipment.customers' ng-value='customer[0]' ng-selected="customer[0] == shipment.id">{{customer[1]}}</option>
                  </select> -->
                </div>
                <div class="col-xs-1">
                  <label for="">City: {{ctrl.shipment.customer.mainLocation().city}}</label>
                </div>
                <div class="col-xs-1">
                  <label for="">State: {{ctrl.shipment.customer.mainLocation().stateId}}</label>
                </div>
                <div class="col-xs-1"><label for="">Zip: </label>{{ctrl.shipment.customer.mainLocation().zip}}</div>
                <div class="col-xs-3 form-group">
                  <label>Credit Status pass: {{ctrl.shipment.customer.creditLimit}}</label>
                </div>
                <div class="col-xs-2 form-group">
                  <label>Balance: {{ctrl.shipment.customer.balance}}</label>
                </div>
              </div>
            </div>
            <div class="row" >
              <div class="col-md-12">
                <div class="col-xs-1">
                  <button type="button" ng-click="ctrl.modalBillTo()" class="btn btn-primary btn-lg">
                    <i class="fa fa-exchange"></i>
                  </button>
                </div>
                <div class="col-xs-3 form-group">
                  <label for="billto">Bill To</label>
                  <select ng-model='ctrl.shipment.billto.id' id="billto" class="form-control">
                    <option value="" disabled selected> Select Bill To</option>
                    <option ng-repeat='billto in ctrl.billto.locations' ng-value='billto.id' ng-selected="billto.id == ctrl.shipment.billto.id">{{billto.name}}</option>
                  </select>
                </div>
                <div ng-hide="ctrl.otherCustomerInBillTo()">
                  <div class="col-xs-1">
                    <label for="">City: {{ctrl.shipment.billto.city}}</label>
                  </div>
                  <div class="col-xs-1">
                    <label for="">State: {{ctrl.shipment.billto.city}}</label>
                  </div>
                  <div class="col-xs-1"><label for="">Zip: </label>{{ctrl.shipment.billto.zip}}</div>
                  <div class="col-xs-3 form-group">
                    <label>Credit Status pass: </label>
                    <input type="text" value ="{{ctrl.billto.creditLimit}}">
                  </div>
                  <div class="col-xs-2 form-group">
                    <label>Balance: </label>
                    <input type="text" value ="{{ctrl.billto.balance}}">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="col-xs-1">
                  <button type="button" ng-click="ctrl.modalCustomBroker()" class="btn btn-primary btn-lg">
                    <i class="fa fa-exchange"></i>
                  </button>
                </div>
                <div class="col-xs-3 form-group">
                  <label for="customsbroker">Customs Broker: {{ctrl.shipment.customsbroker.name}}</label>
                </div>
                <div ng-show='ctrl.internationalShipments()'>
                  <div class="col-xs-1">
                    <label for="">City: {{ctrl.shipment.customsbroker.mainLocation().city}}</label>
                  </div>
                  <div class="col-xs-1">
                    <label for="">State: {{ctrl.shipment.customsbroker.mainLocation().stateId}}</label>
                  </div>
                  <div class="col-xs-1"><label for="">Zip: </label>{{ctrl.shipment.customsbroker.mainLocation().zip}}</div>
                  <div class="col-xs-3 form-group">
                    <label>Credit Status pass: {{ctrl.shipment.customsbroker.creditLimit}}</label>
                    <input type="text" value ="2500">
                  </div>
                  <div class="col-xs-2 form-group">
                    <label>Balance: {{ctrl.shipment.customsbroker.balance}}</label>
                    <input type="text" value ="2500">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-hide="ctrl.has_shippers()">
          <div class="col-md-12">
            <button type="button" ng-click="ctrl.modalAddShipper()" ng-hide="ctrl.hasValidShipper()" class="btn btn-primary btn-lg">
              <i class="fa fa-plus"></i> Add Shipper
            </button>
          </div>
        </div>

        <div  ng-repeat='shipper in ctrl.shipment.shippers'  class="row shippers container-lanes clear-margin-bottom">
          <div class="col-md-6 container-info">
            <div class="" >
              <div class="row">
                <div class="col-xs-8">
                  <div class="col-xs-12">
                    <label class="title-label" for="lanecode">Shipper 1</label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">Name: {{shipper.locationCustomer.name}}</label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">Address 1: {{shipper.locationCustomer.address1}}</label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">Address 2:{{shipper.locationCustomer.address2}} </label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">City: {{shipper.locationCustomer.city}}, Zip:{{shipper.locationCustomer.zip}}, Country:{{shipper.locationCustomer.country['name']}} </label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">Contact Name: {{shipper.locationCustomer.contacts.first.name}}</label>
                  </div>
                  
                </div>
                <div class="col-xs-4">
                  <button class="btn-primary btn-vertical" >Add New Shipper</button>
                  <button class="btn-default" >Add New Location for the selected Shipper</button>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-6 container-info">
            <div class="row">
              <div class="col-md-12">
                <button ng-hide="!ctrl.hasMoreOneShipperLocations()" ng-click="ctrl.shipment.delete_shipper(shipper)" class="ng-binding pull-right">
                  <i class="fa fa-times"></i>
                </button>
                <label class="title-align" for="instructions">Instructions</label>
                <input type="text" id="instructions">
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <label for="" class="title-label title-align">Ready Date</label>
                <input type="text" class="input-label" id="ready-date">
                <i class="fa fa-calendar"></i>
              </div>
              <div class="col-md-4">
                <label for="#open-from" class="title-label" >Open from</label>
                <input type="text" class="input-label" id="open-from">
              </div>
              <div class="col-md-3">
                <label for="#open-to" class="title-label" >To</label>
                <input type="text" class="input-label" id="open-to">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="title-align" for="appointment">Appointment</label>
                <input type="text" id="appointment">
                <i class="fa fa-calendar"></i>
                <input type="text" id="spec-handl-hour">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="title-align" for="spec-handl">Spec. Handl</label>
                <textarea id="spec-handl" class="form-control" ></textarea>
              </div>
            </div>
          </div>
          <div class="row clear-margin-bottom">
            <div class="col-md-12">
              <div class="lanes" ng-hide="line.pending_to_delete()" ng-repeat="line in shipper.lines" style="margin-top: 15px;">
                <div class="row" >
                  <div class="col-md-12 lane">
                    <div class="col-mod col-md-1 col-xs-4 ln-number" ><span>Ln 1</span></div>
                    <div class="col-mod col-md-1 col-xs-4"><span>H</span>
                      <input ng-model="line.height" type="text">
                    </div>
                    <div class="col-mod col-md-1 col-xs-4"><span>W</span>
                      <input ng-model="line.width" type="text">
                    </div>
                    <div class="col-mod col-md-1 col-xs-4"><span>L</span>
                      <input ng-model="line.length" type="text">
                    </div>
                    <div class="col-mod col-md-1 col-xs-4"><span>Pcs</span>
                      <input ng-model="line.num_pcs" type="text">
                    </div>
                    <div class="col-mod col-md-2 col-xs-4"><span>Weight</span>
                      <input ng-model="line.weight" type="text">
                    </div>
                    <div class="col-mod col-md-3 col-xs-4 inner-without-padding">
                      <div class="col-md-4">
                        <span style="width: 100%;">Haz class</span>
                      </div>
                      <div class="col-md-8">
                        <select ng-model='line.hazClass' id="lanecode" class="form-control">
                          <option value="" disabled selected>Select Class</option>
                          <option selected >ABC</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-mod col-md-2 col-xs-4">
                      <select ng-change="ctrl.change_line(line)" ng-model='line.consigneId' id="consignee" class="form-control">
                        <option value="" disabled selected>Select consignee</option>
                        <option ng-repeat='consignee in ctrl.shipment.consignees' ng-value='consignee.locationCustomer.id' ng-selected="consignee.locationCustomer.id == line.consigneId">{{consignee.consigneeName}}({{consignee.locationCustomer.name}})</option>
                      </select>
                      </div>
                    <div class="col-mod col-md-1 col-xs-4 ln-delete">
                      <button ng-click="ctrl.deleteLine(line)" >
                        <i  class="fa fa-times"></i>
                      </button>                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <button type="button" ng-click="ctrl.modalAddShipper()" ng-hide="ctrl.hasValidShipper()" class="btn btn-primary btn-lg">
                <i class="fa fa-plus"></i> Add Shipper
              </button>
            </div>
            <div class="col-md-3">
              <div ng-hide="ctrl.hasValidConsignee()" >
                <button type="button" ng-click="ctrl.modalConsignee()" class="btn btn-primary btn-lg">
                  <i class="fa fa-plus"></i> New Consignee Location
                </button>
              </div>
            </div>
            <div class="col-md-2">
              <button type="button" ng-click='shipper.addNewLane()' class="btn btn-primary btn-lg">
                <i class="fa fa-plus"></i> More Lines
              </button>
            </div>
          </div>
          <div  ng-show='false' class="col-md-5 pull-right" style=" background-color: #fff;padding: 10px;margin-bottom: 15px; border: 1px solid #ccc; margin-top: -15px;">

            <label class="title-label" for="lanecode">Consignee</label>
            <select ng-model='ctrl.consignee_id' ng-change="ctrl.change_consignee()" id="consignee" class="form-control">
              <option value="" disabled selected>Select consignee</option>
              <option ng-repeat='consignee in ctrl.consignees_to_select' ng-value='consignee[0]' ng-selected="consignee[0] == ctrl.consignee_id">{{consignee[1]}}</option>
            </select>

            <label class="title-label" for="lanecode">Location</label>
            <select ng-model='ctrl.consigneeLocation_id' id="location" class="form-control">
              <option value="" disabled selected>Select Location</option>
              <option ng-repeat='location in ctrl.consigne_locations' ng-value='location[0]' ng-selected="location[0] == ctrl.consigneeLocation_id">{{location[1]}}</option>
            </select>
            <button class="btn btn-primary" >Add Consignee Location</button>
          </div>
        </div>
        <div ng-repeat="consignee in ctrl.shipment.consignees" ng-hide="consignee.pending_to_delete()" style="margin-top:20px;" class="row consignees container-lanes clear-margin-bottom">
          <div class="col-md-6 container-info">
            <div class="" >
              <div class="row">
                <div class="col-xs-8">
                  <div class="col-xs-12">
                    <label class="title-label" for="lanecode">Consignee</label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">Name: {{consignee.locationCustomer.name}}</label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">Address 1:{{consignee.locationCustomer.address1}} </label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">Address 2:{{consignee.locationCustomer.address2}} </label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">City: {{consignee.locationCustomer.city}}, Zip:{{consignee.locationCustomer.zip}}, Country:{{consignee.locationCustomer.country['name']}} </label>
                  </div>
                  <div class="col-xs-12">
                    <label for="">Contact Name: {{consignee.locationCustomer.contacts.first.name}}</label>
                  </div>

                  <div class="col-xs-12">
                    <label for="">Open from: </label>
                    <input type="text">
                    <label for="">To: </label>
                    <input type="text">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 container-info">
            <div class="row">
              <div class="col-md-12">
                <button ng-click="ctrl.shipment.delete_consignee(consignee)" class="ng-binding pull-right">
                  <i class="fa fa-times"></i>
                </button>
                <label class="title-align" for="instructions">Instructions</label>
                <input type="text" id="instructions">
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <label for="" class="title-label title-align">Ready Date</label>
                <input type="text" class="input-label" id="ready-date">
                <i class="fa fa-calendar"></i>
              </div>
              <div class="col-md-4">
                <label for="#open-from" class="title-label" >Open from</label>
                <input type="text" class="input-label" id="open-from">
              </div>
              <div class="col-md-3">
                <label for="#open-to" class="title-label" >To</label>
                <input type="text" class="input-label" id="open-to">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="title-align" for="appointment">Appointment</label>
                <input type="text" id="appointment">
                <i class="fa fa-calendar"></i>
                <input type="text" id="spec-handl-hour">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="title-align" for="spec-handl">Spec. Handl</label>
                <textarea id="spec-handl" class="form-control" ></textarea>
              </div>
            </div>
          </div>
          <div class="row clear-margin-bottom">
            <div ng-repeat="line in consignee.lines" ng-hide="line.pending_to_delete()" class="col-md-12">
              <div class="lanes" style="margin-top: 15px;">
                <div class="row">
                  <div class="col-md-12 lane">
                    <div class="col-mod col-md-1 col-xs-4 ln-number" ><span>Ln 1</span></div>
                    <div class="col-mod col-md-1 col-xs-4"><span>H</span>
                      <input ng-model="line.height" readonly type="text">
                    </div>
                    <div class="col-mod col-md-1 col-xs-4"><span>W</span>
                      <input ng-model="line.width" readonly type="text">
                    </div>
                    <div class="col-mod col-md-1 col-xs-4"><span>L</span>
                      <input ng-model="line.length" readonly type="text">
                    </div>
                    <div class="col-mod col-md-1 col-xs-4"><span>Pcs</span>
                      <input ng-model="line.num_pcs" readonly type="text">
                    </div>
                    <div class="col-mod col-md-2 col-xs-4"><span>Weight</span>
                      <input ng-model="line.weight" readonly type="text">
                    </div>
                    <div class="col-mod col-md-3 col-xs-4 inner-without-padding">
                      <div class="col-md-4">
                        <span style="width: 100%;">Haz class</span>
                      </div>
                      <div class="col-md-8">
                        <input ng-model="line.hazClass" readonly type="text">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        

        <div class="row">
          <div class="col-md-12 info-shipment">
            <div class="col-md-2">
              <div>
                #IM0001001
              </div>
            </div>
            <div class="col-md-2">
              <div>
                Current Date
              </div>
            </div>
            <div class="col-md-2">
              <div>
                QuoteNum : # 00110
              </div>
            </div>
            <div class="col-md-2">
              <div>
                Sales Rep: Peter
              </div>
            </div>
            <div class="col-md-2">
              <div>
                CSR: Jenny
              </div>
            </div>
            <div class="col-md-2">
              <div>
                Status: NEW
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-8">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Multiple Carriers
              </label>
            </div>
          </div>
          <div class="col-md-2">
            <button ng-click="ctrl.toStep(2)" class="btn-primary">
              Next Page
            </button>
          </div>
        </div>
      </div>
      <div class="step2" ng-show="ctrl.inStep(2)">
        <div class="row">
          <div class="col-md-12">
            <div class="resumen-step1">
              resumen form step1
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6 container-info">
              <div class="" >
                <div class="row">
                  <div class="col-xs-7">
                    <div class="col-xs-12">
                      <label class="title-label" for="lanecode">Shipper 2</label>
                      <select style="width:70%" ng-model='location.laneCode' id="lanecode" class="form-control">
                        <option value="" disabled selected>Lane Code</option>
                        <option selected >ABC</option>
                      </select>
                    </div>
                    <div class="col-xs-12">
                      <label for="">Name</label>
                    </div>
                    <div class="col-xs-12">
                      <label for="">Address</label>
                    </div>
                    <div class="col-xs-12">
                      <label for="">City, Zip, Country</label>
                    </div>
                    <div class="col-xs-12">
                      <label for="">Contact Name</label>
                    </div>
                  </div>
                  <div class="col-xs-5">
                    <button class="btn-primary btn-vertical" >Add New Shipper</button>
                    <button class="btn-primary btn-vertical" >View Carrier & Prices</button>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-6 container-info">
              <div class="row">
                <div class="col-md-3">
                  <label class="title-align" style="line-height: 60px;" >Various info</label>
                </div>
                <div class="col-md-4">
                  <select ng-model='location.customer' id="customer" class="form-control">
                    <option value="" disabled selected>Lane Code</option>
                    <option selected >ABC</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <select ng-model='location.customer' id="customer" class="form-control">
                    <option value="" disabled selected>Lane Code</option>
                    <option selected >ABC</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <select ng-model='location.customer' id="customer" class="form-control" style="margin-top: 10px;">
                    <option value="" disabled selected>Lane Code</option>
                    <option selected >ABC</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label for="">Insure. Amt</label>
                </div>
                <div class="col-md-3">
                  <input type="text" style="width: 100%;" >
                </div>
                <div class="col-md-3">
                  <label for="">Other</label>
                </div>
                <div class="col-md-3">
                  <input type="text" style="width: 100%;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6 container-info">
              <div class="" >
                <div class="row">
                  <div class="col-xs-7">
                    <div class="col-xs-12">
                      <label class="title-label" for="lanecode">Shipper</label>
                      <select style="width:70%" ng-model='location.laneCode' id="lanecode" class="form-control">
                        <option value="" disabled selected>Lane Code</option>
                        <option selected >ABC</option>
                      </select>
                    </div>
                    <div class="col-xs-12">
                      <label for="">Name</label>
                    </div>
                    <div class="col-xs-12">
                      <label for="">Address</label>
                    </div>
                    <div class="col-xs-12">
                      <label for="">City, Zip, Country</label>
                    
                    </div>
                    <div class="col-xs-12">
                      <label for="">Contact Name</label>
                    </div>
                  </div>
                  <div class="col-xs-5">
                    <button class="btn-primary btn-vertical" >Add New Shipper</button>
                    <button class="btn-primary btn-vertical" >Add New location for an existings</button>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-6 container-info">
              <div class="row">
                <div class="col-md-12">
                  <label class="title-align" for="instructions">Instructions</label>
                </div>
                <div class="col-md-12">
                  <textarea rows="3" class="form-control" ></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label class="title-align" for="appointment">Appointment</label>
                  <input type="text" >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6 container-info">
              <div class="" >
                <div class="row">
                  <div class="col-xs-7">
                    <div class="col-xs-12">
                      <label class="title-label" for="lanecode">Shipper</label>
                      <select style="width:70%" ng-model='location.laneCode' id="lanecode" class="form-control">
                        <option value="" disabled selected>Lane Code</option>
                        <option selected >ABC</option>
                      </select>
                    </div>
                    <div class="col-xs-12">
                      <label for="">Name</label>
                    </div>
                    <div class="col-xs-12">
                      <label for="">Address</label>
                    </div>
                    <div class="col-xs-12">
                      <label for="">City, Zip, Country</label>
                    </div>
                    <div class="col-xs-12">
                      <label for="">Contact Name</label>
                    </div>
                  </div>
                  <div class="col-xs-5">
                    <button class="btn-primary btn-vertical" >Add New Shipper</button>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-6 container-info">
              <div class="row">
                <div class="col-md-3">
                  <label class="title-align" style="line-height: 60px;" >Various info</label>
                </div>
                <div class="col-md-4">
                  <select ng-model='location.customer' id="customer" class="form-control">
                    <option value="" disabled selected>Lane Code</option>
                    <option selected >ABC</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <select ng-model='location.customer' id="customer" class="form-control">
                    <option value="" disabled selected>Lane Code</option>
                    <option selected >ABC</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <select ng-model='location.customer' id="customer" class="form-control" style="margin-top: 10px;">
                    <option value="" disabled selected>Lane Code</option>
                    <option selected >ABC</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label for="">Insure. Amt</label>
                </div>
                <div class="col-md-3">
                  <input type="text" style="width: 100%;" >
                </div>
                <div class="col-md-3">
                  <label for="">Other</label>
                </div>
                <div class="col-md-3">
                  <input type="text" style="width: 100%;">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button class="btn-primary btn pull-left" >Add one more Carrier</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h3>The estimated and agreed costs and revenue</h3>
            <table  class="table table-striped table-shipment">
              <tr>
                <th>Seq</th>
                <th>Bill To</th>
                <th>Code</th>
                <th>Amount</th>
                <th>Curr.</th>
                <th>Amt CAD</th>
                <th>Inv</th>
                <th>Vendor</th>
                <th>Code</th>
                <th>Amount</th>
                <th>Currency</th>
                <th>Amt CAD</th>
                <th>Inv</th>
                <th>Profit</th>
                <th></th>
              </tr>
              <tr>
                <td>I+1</td>
                <td>
                  <select ng-model='location.billto' id="billto" class="form-control">
                    <option value="" disabled selected>BillTo</option>
                    <option selected >ABC</option>
                  </select>
                </td>
                <td>
                  <select ng-model='location.billto' id="billto" class="form-control">
                    <option value="" disabled selected>Code</option>
                    <option selected >ABC</option>
                  </select>
                </td>
                <td>
                  <input type="text">
                </td>
                <td>
                  <select ng-model='location.billto' id="billto" class="form-control">
                    <option selected >US</option>
                  </select>
                </td>
                <td>
                  <input type="text">
                </td>
                <td>Inv(cant)</td>
                <td>
                  <select ng-model='location.billto' id="billto" class="form-control">
                    <option value="" disabled selected>Vendor</option>
                    <option selected >ABC</option>
                  </select>
                </td>
                <td>
                  <select ng-model='location.billto' id="billto" class="form-control">
                    <option value="" disabled selected>Code</option>
                    <option selected >ABC</option>
                  </select>
                </td>
                <td>
                  <input type="text">
                </td>
                <td>
                  <select ng-model='location.billto' id="billto" class="form-control">
                    <option value="" disabled selected>Currency</option>
                    <option selected >ABC</option>
                  </select>
                </td>
                <td>
                  <input type="text">
                </td>
                <td>Inv+1</td>
                <td>Profit</td>
                <td>
                  <i class="fa fa-times"></i>
                </td>
              </tr>
              <tr>
                <th colspan="3">Total</th>
                <th>00</th>
                <th colspan="5" ></th>
                <th>00</th>
                <th colspan="3" ></th>
                <th colspan="2" >00</th>
              </tr>
            </table>
          </div>
        </div>

        <div class="row">
          <div id="rate" class="col-md-5 rates">
            <h3>Rate this shipment</h3>
            <div>
              <label for="speed-rating">Speed:</label>
              <rating id="speed-rating" max-rating="5" rating="ctrl.shipment.speed_rating">
            </div>
            <div>
              <label for="quality-rating">Quality:</label>
              <rating id="quality-rating" max-rating="5" rating="ctrl.shipment.quality_rating">
            </div>
            <div>
              <label for="price-rating">Price:</label>
              <rating id="price-rating" max-rating="5" rating="ctrl.shipment.price_rating">
            </div>
          </div>
          <div class="col-md-1">
            <button ng-click="ctrl.toStep(1)" class="btn btn-primary">
              Back
            </button>
          </div>
          <div class="col-md-1">
            <button class="btn btn-primary">
              Save
            </button>
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary">
              Make booking PDF
            </button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-primary">
              Make Customer Confirmation
            </button>
          </div>
        </div>
      </div>
      <div class="step3" ng-show="ctrl.inStep(3)">
        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-12">
                <label class="title-align" for="spec-handl">Notes</label>
                <textarea id="spec-handl" class="form-control" ></textarea>
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn-primary btn pull-right" style="margin-top: 15px;" >Save</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <span>22/22/2014</span>
                <span>Author</span>
              </div>
              <div class="col-md-9">
                <p>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
            <div class="row">
              <h3>Documents Uploaded</h3>
              <table class="table">
                <tr>
                  <td>
                    <i class="fa fa-file-pdf-o"></i>
                  </td>
                  <td>Date: Mar 17</td>
                  <td>Document type: Inv</td>
                  <td>
                    <a href="#">View Download</a>
                  </td>
                </tr>
              </table>              
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn-primary btn" >Add New</button>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12">
                <h3>Emails</h3>
                <table class="table">
                  <tr>
                    <th>Date</th>
                    <th>From</th>
                    <th>Subject</th>
                  </tr>
                  <tr>
                    <td>03/10/2014</td>
                    <td>Jhon M</td>
                    <td><a href="#">About the Quote</a></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>