<div shipment-controller>
  <h1>Shipments</h1>
  <div ng-show='ctrl.shipments.isNotEmpty'>
    <br>
    <br>
<!--     <table class='table table-hover'>
      <thead>
        <tr>
          <th>FileRef</th>
          <th>Customer</th>
          <th>Status</th>
          <th>Quote</th>
          <th>Pay Status</th>
          <th>Type Shipment</th>
          <th class='col-xs-3'>actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='shipment in ctrl.shipments'>
          <td>{{shipment.id}}</td>
          <td>{{shipment.customer.name}}</td>
          <td>{{shipment.status}}</td>
          <td>{{shipment.quote.id}}</td>
          <td>{{shipment.payStatus}}</td>
          <td>{{shipment.typeShipment}}</td>
          <td class="actions">
            <a class="btn btn-info" ng-href="#/shipments/{{shipment.id}}">
              <i class="glyphicon glyphicon-search"></i>
            </a>

            <a class="btn btn-warning" ng-href="#/shipments/{{shipment.id}}/edit">
              <i class="glyphicon glyphicon-pencil"></i>
            </a>
            <a class="btn btn-danger" ng-click='ctrl.delete(shipment)'>
              <i class="glyphicon glyphicon-remove"></i>
            </a>

          </td>
        </tr>
      </tbody>
    </table> -->


    <datatable-sort-demo></datatable-sort-demo>
  </div>
</div>
