<div customer-controller>

  <h1 ng-if="controller.customer.is_new()">Add a new Customer</h1>
  <h1 ng-if="!controller.customer.is_new()">Edit Customer</h1>
  <form class='form-horizontal' novalidate ng-submit="controller.save()">
    <div class="form-group">
      <label for="customer_id" class="col-sm-2 control-label">Id</label>
      <div class="col-sm-10">
        <input type="text" disabled class="form-control" id="customer_id" ng-model='controller.customer.id' placeholder="Id">
      </div>
    </div>
    <div class="form-group">
      <label for="customer_name" class="col-sm-2 control-label">name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="customer_name" ng-model='controller.customer.name' placeholder="name">
      </div>
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error':controller.customer.has_errors('zip')}">
      <label for="customer_zip" class="col-sm-2 control-label">zip</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="customer_zip" ng-model='controller.customer.zip' placeholder="zip">
      </div>
      <p ng-show="controller.customer.has_errors('zip')" class='error'>{{controller.customer.errors_by_field('zip')}}</p>
    </div>

    <div class="locations">
      <div class="location" ng-repeat="location in controller.customer.locations" ng-hide="location.pending_to_delete()">
        <div ng-hide='location.is_expanded()'>
          <div class="row">
            <div class="col-xs-2">
              <p>default</p>
            </div>
            <div class="col-xs-2 form-group" ng-class="{'has-error':location.has_errors('name')}">
              <input ng-model='location.name' class="form-control" placeholder='name'> 
              <p ng-show="location.has_errors('name')" class='error'>{{location.errors_by_field('name')}}</p>
     
            </div>
            <div class="col-xs-2 form-group" ng-class="{'has-error':location.has_errors('city')}">
              <input ng-model='location.city' class="form-control" placeholder='city'>
              <p ng-show="location.has_errors('city')" class='error'>{{location.errors_by_field('city')}}</p>
            </div>
            <div class="col-xs-2 form-group" ng-class="{'has-error':location.has_errors('zip')}">
              <input ng-model='location.zip' class="form-control" placeholder='zip'>
              <p ng-show="location.has_errors('zip')" class='error'>{{location.errors_by_field('zip')}}</p>
           </div>
            <div class="col-xs-3 form-group" ng-class="{'has-error':location.has_errors('phone')}">
              <input ng-model='location.phone' class="form-control" placeholder='phone'>
              <p ng-show="location.has_errors('phone')" class='error'>{{location.errors_by_field('phone')}}</p>
            </div>
            <div class="col-xs-2 actions">
              <button ng-click="location.expand()" type="button" class="btn btn-success"><i class="glyphicon glyphicon-resize-vertical icon-btn"></i></button>
              <button ng-click="controller.customer.delete_location(location)" ng-show='controller.customer.has_many_locations()' type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove icon-btn"></i></button>

            </div>
          </div>
        </div>
        <fieldset ng-show="location.is_expanded()">
          <legend>Location</legend>
          <div class='row'>
            <div class="col-xs-3 form-group" ng-class="{'has-error':location.has_errors('name')}">
              <input ng-model='location.name' class="form-control" placeholder='full name'>
              <p ng-show="location.has_errors('name')" class='error'>{{location.errors_by_field('name')}}</p>
            </div>
            <div class="col-xs-3" ng-class="{'has-error':location.has_errors('zip')}">
              <input ng-model='location.zip' class="form-control" placeholder='zip'>
              <p ng-show="location.has_errors('zip')" class='error'>{{location.errors_by_field('zip')}}</p>
            </div>          
            <div class="col-xs-3" ng-class="{'has-error':location.has_errors('country')}">
              <label class='control-label'>country</label>
              <select ng-model="location.country" >
                <option value="CA">CA</option>
                <option value="US">US</option>
                <option value="MX">MX</option>
              </select>
              <p ng-show="location.has_errors('country')" class='error'>{{location.errors_by_field('country')}}</p>
            </div>

            <div class="col-xs-3 actions">
              <button ng-click="location.delete()" ng-show='controller.customer.has_many_locations()' type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove icon-btn"></i></button>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-4" ng-class="{'has-error':location.has_errors('address1')}">
              <input ng-model='location.address1' class="form-control" placeholder='address 1'>
              <p ng-show="location.has_errors('address1')" class='error'>{{location.errors_by_field('address1')}}</p>
              
            </div>
            <div class="col-xs-3">
              <input ng-model='location.on' class="form-control" placeholder='on'>
            </div>
          </div>

          <div class='row'>
            <div class="col-xs-4">
              <input ng-model='location.address2' class="form-control" placeholder='address 2'>
            </div>
            <div class="col-xs-3" ng-class="{'has-error':location.has_errors('city')}">
              <input ng-model='location.city' class="form-control" placeholder='city'>
              <p ng-show="location.has_errors('city')" class='error'>{{location.errors_by_field('city')}}</p>
            </div>
          </div>

          <div class='row'>
            <div class="col-xs-4 form-group" ng-class="{'has-error':location.has_errors('phone')}">
              <label class='control-label col-xs-2'>phone</label>
              <div class="col-xs-10">
                <input ng-model='location.phone' class="form-control" placeholder='phone'>
              </div>
              <p ng-show="location.has_errors('phone')" class='error'>{{location.errors_by_field('phone')}}</p>
              
            </div>
            <div class="col-xs-4  form-group" ng-class="{'has-error':location.has_errors('email')}">
              <label class='control-label col-xs-2'>email</label>
              <div class="col-xs-10">
                <input ng-model='location.email' class="form-control" placeholder='email'>
              </div>
              <p ng-show="location.has_errors('email')" class='error'>{{location.errors_by_field('email')}}</p>
            </div>
            <div class="col-xs-4  form-group">
              <label class="control-label col-xs-2">fax</label>
              <div class="col-xs-10">
                <input ng-model='location.fax' class="form-control" placeholder='fax'>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-xs-4 form-group">
              <label class="control-label col-xs-2">freight class</label>
              <div class="col-xs-10">
                <input ng-model='location.freightClass' class="form-control" placeholder='freight class'>
              </div>
            </div>
            <div class="col-xs-4 form-group">
              <label class="control-label col-xs-2">NAICS</label>
              <div class="col-xs-10">
                <input ng-model='location.naics' class="form-control" placeholder='naics'>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 form-group">
              <label class="control-label col-xs-2">hours</label>
              <div class="col-xs-10">
                <input ng-model='location.hours' class="form-control" placeholder='hours'>
              </div>
            </div>
            <div class="col-xs-4">
              <label class="control-label">lane code</label>
              <select ng-model='location.laneCode'>
                <option>ABC</option>
              </select>
            </div>
            <div class="col-xs-3">
              <label class="control-label">email opt out</label>
              <input type='checkbox' value='true' ng-model='location.emailOptOut'>
            </div>
          </div>
        </fieldset>
      </div>
      <button class='btn add' type='button' ng-click='controller.add_location()'>Add location</button>
    </div>
    <div class="contacts">
      <div class="contact" ng-repeat='contact in controller.customer.contacts' >
        <fieldset class="contact" ng-hide="contact.pending_to_delete()">
          <legend>contact</legend>
          <div class="row">
            <div class="col-xs-4 form-group" ng-class="{'has-error':contact.has_errors('name')}">
              <input ng-model='contact.name' class="form-control" placeholder='name'>
              <p ng-show="contact.has_errors('name')" class='error'>{{contact.errors_by_field('name')}}</p>
            </div>
            <div class="col-xs-4 form-group" ng-class="{'has-error':contact.has_errors('phone')}">
              <input ng-model='contact.phone' class="form-control" placeholder='phone'>
              <p ng-show="contact.has_errors('phone')" class='error'>{{contact.errors_by_field('phone')}}</p>
            </div>
            <div class="col-xs-3" ng-class="{'has-error':contact.has_errors('email')}">
              <input ng-model='contact.email' class="form-control" placeholder='email'>
              <p ng-show="contact.has_errors('email')" class='error'>{{contact.errors_by_field('email')}}</p>
            </div>
            <div class="col-xs-1">
              <button ng-click='controller.delete_contact(contact)' ng-show='controller.customer.has_many_contacts()' type="button" class="btn btn-danger"><i class="glyphicon glyphicon-remove icon-btn"></i></button>
            </div>

          </div>
        </fieldset>
      </div>
    <button class='btn add' type='button' ng-click='controller.add_contact()'>Add contact</button>

   </div>
  
    <div class='row'>
      <div class="col-xs-4 form-group" ng-class="{'has-error':controller.customer.has_errors('creditNote')}">
        <label for="customer_credit_note" class="col-xs-4 control-label">credit note</label>
        <select ng-model="controller.customer.creditNote">
          <option value="select">select</option>
        </select>
        <p ng-show="controller.customer.has_errors('creditNote')" class='error'>{{controller.customer.errors_by_field('creditNote')}}</p>        
      </div>
      <div class="col-xs-4 form-group" ng-class="{'has-error':controller.customer.has_errors('creditLimit')}">
        <label class="control-label col-xs-4">credit limit</label>
        <div class="col-xs-8">
          <input type="number" ng-model='controller.customer.creditLimit' min='0' class="form-control" placeholder='Credit Limit'>
        </div>
        <p ng-show="controller.customer.has_errors('creditLimit')" class='error'>{{controller.customer.errors_by_field('creditLimit')}}</p>
        
      </div>
      <div class="col-xs-4 form-group">
        <label class="control-label col-xs-2">balance</label>
        <p class="col-xs-10">{{controller.customer.balance}}</p>
      </div>
    </div>
    <div class='row'>
      <div class="col-xs-4 form-group">
        <label class="control-label col-xs-3">tax id</label>
        <div class="col-xs-9">
          <input ng-model='controller.customer.taxId' class="form-control" placeholder='Tax id'>
        </div>

      </div>
      <div class="col-xs-4 form-group">
        <label class="control-label">invoice</label>
        <select ng-model="controller.customer.invoice">
          <option value='email'>email</option>
          <option value='mail'>mail</option>
          <option value='SelfService'>SelfService</option>
        </select>
      </div>
      <div class="col-xs-4 form-group">
        <label class="control-label">requirePOD</label>
        <input type='checkbox' ng-model='controller.customer.requiredPOD'>
      </div>
    </div>

    <div class='row'>
      <div class="col-xs-4 form-group">
        <label for="customer_credit_note" class="col-sm-6 control-label">currency</label>
        <select ng-model="controller.customer.currency">
          <option value="select">CAD</option>
          <option value="select">USD</option>
        </select>
      </div>

      <div class="col-xs-4 form-group">
        <label class="control-label">terms</label>
        <select ng-model='controller.customer.terms'>
          <option>option</option>
        </select>
      </div>
      <div class="col-xs-4 form-group">
        <label class="control-label">rating</label>
        <input ng-model='controller.customer.rating'>
      </div>
    </div>

    <div class="bill_to"> BILL TO </div>


    <div class='row'>
      <div class="col-xs-4 form-group">
        <label class="control-label">import customs broker</label>
        <select ng-model='controller.customer.importCustomsBroker'>
          <option>entity_id</option>
        </select>
      </div>

      <div class="col-xs-4 form-group">
        <label class="control-label">export customs broker</label>
        <select ng-model='controller.customer.exportCustomsBroker'>
          <option>entity_id</option>
        </select>
      </div>

      <div class="col-xs-4 form-group">
        <label class="control-label">currency risk factor</label>
        <select ng-model='controller.customer.currencyRiskFactor'>
          <option>option</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class='col-xs-8'>
        <div class="form-group">
          <label for="customer_notes" class="col-sm-2 control-label">Notes</label>
          <div class="col-sm-10">
            <textarea type="email" class="form-control" id="customer_notes" ng-model="controller.customer.note" placeholder="Notes"></textarea>
          </div>
        </div>
      </div>

      <div class='col-xs-4 form-group'>
        <div>
          <label class="control-label">salesrep</label>
          <select ng-model='controller.customer.salesRep'>
            <option>option</option>
          </select>
        </div>
        <div>
          <label class="control-label">territory</label>
          <select ng-model='controller.customer.territory'>
            <option>option</option>
          </select>
        </div>        
      </div>
    </div>

    <button class='btn btn-success'>save</button>
  </form>
</div>
