<div customer-controller id='customer_show' style="background-color: #fff;
padding: 20px;
border-radius: 5px;">
<button class="btn btn-info" ng-click="ctrl.to_index()" style="
    float: right;
    margin-top: 20px;
">Back</button>

  <h2>Customer  <h3>{{ctrl.customer.name}}-#{{ctrl.customer.id}}</h3> </h2>
  
  <div class="locations" style="margin: 40px 10px;" >
    <h4>Locations </h4>
    <div class="location" ng-repeat="location in ctrl.customer.locations" >
      <div class="row">
        <div class="col-xs-3">
          <p><span>name: </span>{{location.name}}</p>
        </div>
        <div class="col-xs-3">
          <p><span>zip: </span>{{location.zip}}</p>
        </div>
        <div class="col-xs-3">
          <p><span>country: </span>{{location.country.name}} ({{location.country.iso}})</p>
        </div>
      
        <div class="col-xs-3">
          <p><span>address: </span>{{location.address1}}</p>
        </div>
      
        <div class="col-xs-3">
          <p><span>address 2: </span>{{location.address2}}</p>
        </div>
        <div class="col-xs-3">
          <p><span>city: </span>{{location.city}}</p>
        </div>
      
        <div class="col-xs-3">
          <p><span>phone: </span>{{loction.phone}}</p>
        </div>
        <div class="col-xs-3">
          <p><span>email: </span>{{location.email}}</p>
        </div>
        <div class="col-xs-3">
          <p><span>fax: </span>{{location.fax}}</p>
        </div>
      
        <div class="col-xs-3">
          <p><span>freight class: </span>{{location.freightClass}}</p>
        </div>
        <div class="col-xs-3">
          <p><span>NAICS: </span>{{location.naics}}</p>
        </div>
      
        <div class="col-xs-3">
          <p><span>hours: </span>{{location.hours}}</p>
        </div>
        <div class="col-xs-3">
          <p><span>lane code: </span>{{location.laneCode}}</p>
        </div>
        <div class="col-xs-3">

          <label class="control-label">email opt out</label>
          <input type='checkbox' value='true' disabled="disabled" ng-model='location.emailOptOut'>
        </div>
      </div>

      <div class="contacts">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-1">
            <h4>Contacts: </h4>
          </div>
        </div>

        <div class="contact" ng-repeat='contact in location.contacts' >
          <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-3">
              <p><span>name: </span>{{contact.name}}</p>
            </div>
            <div class="col-xs-3">
              <p><span>phone: </span>{{contact.phone}}</p>
            </div>
            <div class="col-xs-3">
              <p><span>email: </span>{{contact.email}}</p>
            </div>
          </div>
        </div>
     </div>
      <hr>
    </div>
  </div>


  <div class='row'>
    <div class="col-xs-4">
      <p><span>credit note: </span>{{ctrl.customer.creditNote}}</p>
    </div>
    <div class="col-xs-4">
      <p><span>credit limit: </span>{{ctrl.customer.creditLimit}}</p>
    </div>
    <div class="col-xs-4">
      <p><span>balance: </span>{{ctrl.customer.balance}}</p>
    </div>
  
    <div class="col-xs-4">
      <p><span>tax id: </span>{{ctrl.customer.taxId}}</p>
    </div>
    <div class="col-xs-4">
      <p><span>invoice method: </span>{{ctrl.customer.invoiceMethod}}</p>
    </div>
    <div class="col-xs-4">
      <p><span>requirePOD: </span>{{ctrl.customer.requiredPod}}</p>
    </div>
  
    <div class="col-xs-4">
      <p><span>currency: </span>{{ctrl.customer.currency}}</p>
    </div>

    <div class="col-xs-4">
      <p><span>terms: </span>{{ctrl.customer.terms}}</p>
    </div>

    <div class="col-xs-4" >
      <p><span>rating: </span>{{ctrl.customer.rating}}</p>
    </div>
  </div>

  <div class="bill_to"> BILL TO </div>


  <div class='row'>
    <div class="col-xs-4">
      <label class="control-label">import customs broker</label>
      <span>{{ctrl.customer.importCustomsBrokerId}}</span>
    </div>

    <div class="col-xs-4">
      <label class="control-label">export customs broker</label>
      <span>{{ctrl.customer.exportCustomsBrokerId}}</span>
    </div>

    <div class="col-xs-4">
      <label class="control-label">currency risk factor</label>
      <span>{{ctrl.customer.currencyRiskFactor}}</span>
    </div>
  
    <div class='col-xs-8'>
      <div class="form-group">
        <label for="customer_notes" class="col-sm-2 control-label">Notes</label>
        <div class="col-sm-10">
          <p>{{ctrl.customer.note}}</p>
        </div>
      </div>
    </div>

    <div class='col-xs-4'>
      <div>
        <label class="control-label">sales rep</label>
        <span>{{ctrl.customer.salesRepId}}</span>
      </div>
      <div>
        <label class="control-label">territory</label>
        <span>{{ctrl.customer.territoryId}}</span>
      </div>        
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-right">
      <button class='btn btn-info' ng-click='ctrl.to_index()' >Back</button>
    </div>
  </div>

</div>
