<div contact-controller>
  <h1 ng-show="ctrl.contact.is_new()">Add a new contact</h1>
  <h1 ng-hide="ctrl.contact.is_new()">Edit contact</h1>
  <form class='form-horizontal' novalidate ng-submit="ctrl.save()">
    <div class="form-group">
      <label for="contact_id" class="col-sm-2 control-label">Id</label>
      <div class="col-sm-10">
        <input type="text" disabled class="form-control" id="contact_id" ng-model='ctrl.contact.id' placeholder="Id">
      </div>
    </div>
    <div class="form-group has-feedback" ng-class="{'has-error':ctrl.contact.has_errors('name')}">
      <label for="contact_name" class="col-sm-2 control-label">name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="contact_name" ng-model='ctrl.contact.name' placeholder="name">
      </div>
      <p ng-show="ctrl.contact.has_errors('name')" class='error'>{{ctrl.contact.errors_by_field('name')}}</p>
    </div>

    <div class="row">
      <div class="col-xs-6 form-group" ng-class="{'has-error':ctrl.contact.has_errors('role')}">
        <label class='control-label col-xs-5'>role</label>
        <select ng-model='ctrl.contact.role' class="col-xs-7" placeholder='role'>
          <option>roles</option>
        </select>
        <p ng-show="ctrl.contact.has_errors('role')" class='error'>{{ctrl.contact.errors_by_field('role')}}</p>
      </div>

      <div class="col-xs-5 form-group" ng-class="{'has-error':ctrl.contact.has_errors('title')}">
        <label class='control-label col-xs-5'>title</label>
        <input ng-model='ctrl.contact.title' class="col-xs-7" placeholder='title'>
        <p ng-show="ctrl.contact.has_errors('title')" class='error'>{{ctrl.contact.errors_by_field('title')}}</p>
      </div>
    </div>
    <div class="form-group has-feedback" ng-class="{'has-error':ctrl.contact.has_errors('branchId')}">
      <label for="contact_branchId" class="col-sm-2 control-label">branchId</label>
      <div class="col-sm-10">
        <select type="text" class="form-control" id="contact_branchId" ng-model='ctrl.contact.branchId' placeholder="branchId">
          <option value="" disabled selected>Branch</option>
          <option ng-repeat="branch in ctrl.branchs" ng-value="branch[0]">{{branch[0]}}-{{branch[1]}}</option>
        </select>
      </div>
      <p ng-show="ctrl.contact.has_errors('branchId')" class='error'>{{ctrl.contact.errors_by_field('branchId')}}</p>
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error':ctrl.contact.has_errors('locationId')}">
      <label for="contact_locationId" class="col-sm-2 control-label">location</label>
      <div class="col-sm-10">
        <select ng-model="ctrl.contact.locationId">
          <option value="" disabled>Location</option>
          <option>No location</option>
          <option ng-repeat="location in ctrl.locations" ng-value="location[0]">{{location[0]}} - {{location[1]}} - {{location[2]}}</option>
        </select>
      </div>
      <p ng-show="ctrl.contact.has_errors('locationId')" class='error'>{{ctrl.contact.errors_by_field('locationId')}}</p>
    </div>
    <div class="form-group has-feedback" ng-class="{'has-error':ctrl.contact.has_errors('email')}">
      <label for="contact_email" class="col-sm-2 control-label">email 1</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="contact_email" ng-model='ctrl.contact.email' placeholder="email 1">
      </div>
      <p ng-show="ctrl.contact.has_errors('email')" class='error'>{{ctrl.contact.errors_by_field('email')}}</p>
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error':ctrl.contact.has_errors('email2')}">
      <label for="contact_email2" class="col-sm-2 control-label">email2</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="contact_email2" ng-model='ctrl.contact.email2' placeholder="email 2">
      </div>
      <p ng-show="ctrl.contact.has_errors('email2')" class='error'>{{ctrl.contact.errors_by_field('email2')}}</p>
    </div>
    <div class="form-group has-feedback" ng-class="{'has-error':ctrl.contact.has_errors('phone')}">
      <label for="contact_phone" class="col-sm-2 control-label">phone</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="contact_phone" ng-model='ctrl.contact.phone' placeholder="phone">
        <p ng-show="ctrl.contact.has_errors('phone')" class='error'>{{ctrl.contact.errors_by_field('phone')}}</p>
      </div>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="contact_phone" ng-model='ctrl.contact.phoneHome' placeholder="phoneHome">
        <p ng-show="ctrl.contact.has_errors('phoneHome')" class='error'>{{ctrl.contact.errors_by_field('phoneHome')}}</p>
      </div>
    </div>
    <div class="form-group has-feedback" ng-class="{'has-error':ctrl.contact.has_errors('mobile')}">
      <label for="contact_mobile" class="col-sm-2 control-label">mobile</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="contact_mobile" ng-model='ctrl.contact.mobile' placeholder="mobile">
      </div>
      <p ng-show="ctrl.contact.has_errors('mobile')" class='error'>{{ctrl.contact.errors_by_field('mobile')}}</p>
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error':ctrl.contact.has_errors('typeUser}')}">
      <label for="contact_typeUser" class="col-sm-2 control-label">typeUser</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model='ctrl.contact.typeUser'>
          <option>SalesRep</option>
          <option>Accountant</option>
        </select>
      </div>
      <p ng-show="ctrl.contact.has_errors('typeUser')" class='error'>{{ctrl.contact.errors_by_field('typeUser')}}</p>
    </div>

    <div class="form-group has-feedback">
      <label for="contact_birthday" class="col-sm-2 control-label">birthday</label>
      <div class="col-sm-10">
        <div class='col-xs-5' ng-class="{'has-error':ctrl.contact.has_errors('monthBirthday}')}">
          <input type="number" min='1' max='12' class="form-control" id="contact_monthBirthday" ng-model='ctrl.contact.monthBirthday' placeholder="month">
          <p ng-show="ctrl.contact.has_errors('monthBirthday')" class='error'>{{ctrl.contact.errors_by_field('monthBirthday')}}</p>

        </div>
        <div class='col-xs-5' ng-class="{'has-error':ctrl.contact.has_errors('dayBirthday}')}">
          <input type="number" min='1' max='31' class="form-control" id="contact_dayBirthday" ng-model='ctrl.contact.dayBirthday' placeholder="day">
          <p ng-show="ctrl.contact.has_errors('dayBirthday')" class='error'>{{ctrl.contact.errors_by_field('dayBirthday')}}</p>

        </div>


      </div>
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error':ctrl.contact.has_errors('status')}">
      <label for="contact_status" class="col-sm-2 control-label">status</label>
      <div class="col-sm-10">

        <select class="form-control" id="contact_status" ng-model='ctrl.contact.status'>
          <option value='1'>Active</option>
          <option value='1'>Non Active</option>
        </select>
      </div>
      <p ng-show="ctrl.contact.has_errors('status')" class='error'>{{ctrl.contact.errors_by_field('status')}}</p>
    </div>
    <button class='btn btn-success'>save</button>
  </form>
</div>
