<div contact-controller>
  <h1 ng-if="ctrl.contact.is_new()">Add a new contact</h1>
  <h1 ng-if="!ctrl.contact.is_new()">Edit contact</h1>
  <form class='form-horizontal' novalidate ng-submit="ctrl.save()">

    <div class="form-group">
      <label for="customer_id" class="col-sm-2 control-label">Id</label>
      <div class="col-sm-10">
        <input type="text" disabled class="form-control" id="customer_id" ng-model='ctrl.customer.id' placeholder="Id">
      </div>
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error':ctrl.contact.has_errors('name}')}">
      <label for="contact_name}" class="col-sm-2 control-label">name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="contact_name}" ng-model='ctrl.contact.name}' placeholder="name">
      </div>
      <p ng-show="ctrl.contact.has_errors('name}')" class='error'>{{ctrl.contact.errors_by_field('name}')}}</p>
    </div>

    <div class="row">
      <div class="col-xs-4 form-group" ng-class="{'has-error':ctrl.contact.has_errors('role')}">
        <label class='control-label'>role</label>
        <select ng-model='ctrl.contact.role' class="form-control" placeholder='role'>
          <option>roles</option>
        </select>>
        <p ng-show="ctrl.contact.has_errors('role')" class='error'>{{ctrl.contact.errors_by_field('role')}}</p>
      </div>

      <div class="col-xs-8 form-group" ng-class="{'has-error':ctrl.contact.has_errors('title')}">
        <label class='control-label'>title</label>
        <input ng-model='ctrl.contact.title' class="form-control" placeholder='title'>
        <p ng-show="ctrl.contact.has_errors('title')" class='error'>{{ctrl.contact.errors_by_field('title')}}</p>
      </div>
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error':ctrl.contact.has_errors('branchId}')}">
      <label for="contact_branchId}" class="col-sm-2 control-label">branchId</label>
      <div class="col-sm-10">
        <select type="text" class="form-control" id="contact_branchId}" ng-model='ctrl.contact.branchId}' placeholder="branchId}">
          <option value='0'> branch </option>
        </select>
      </div>
      <p ng-show="ctrl.contact.has_errors('branchId}')" class='error'>{{ctrl.contact.errors_by_field('branchId}')}}</p>
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error':ctrl.contact.has_errors('locationId}')}">
      <label for="contact_locationId}" class="col-sm-2 control-label">locationId</label>
      <div class="col-sm-10">
        <select type="text" class="form-control" id="contact_locationId}" ng-model='ctrl.contact.locationId}' placeholder="locationId}">
          <option value='0'> location</option>
        </select>
      </div>
      <p ng-show="ctrl.contact.has_errors('locationId}')" class='error'>{{ctrl.contact.errors_by_field('locationId}')}}</p>
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error':ctrl.contact.has_errors('email1}')}">
      <label for="contact_email1}" class="col-sm-2 control-label">email 1</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="contact_email1}" ng-model='ctrl.contact.email1}' placeholder="email 1">
      </div>
      <p ng-show="ctrl.contact.has_errors('email1}')" class='error'>{{ctrl.contact.errors_by_field('email1}')}}</p>
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error':ctrl.contact.has_errors('email2}')}">
      <label for="contact_email2}" class="col-sm-2 control-label">email2</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="contact_email2}" ng-model='ctrl.contact.email2}' placeholder="email 2">
      </div>
      <p ng-show="ctrl.contact.has_errors('email2}')" class='error'>{{ctrl.contact.errors_by_field('email2}')}}</p>
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error':ctrl.contact.has_errors('phone}')}">
      <label for="contact_phone}" class="col-sm-2 control-label">phone</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="contact_phone}" ng-model='ctrl.contact.phone}' placeholder="phone">
      </div>
      <p ng-show="ctrl.contact.has_errors('phone}')" class='error'>{{ctrl.contact.errors_by_field('phone}')}}</p>
    </div>

    <button class='btn btn-success'>save</button>
  </form>
</div>
