<div class="row">
  <div class="col-md-10 col-md-offset-1" style="min-height:400px;padding-top: 15px;padding-bottom: 15px;">
    <h3>Price List</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td>Id</td>
          <td><b>Unit</b></td>
          <td><b>Number</b></td>
          <td><b>Price</b></td>
        </tr>
      </thead>
      <tr ng-repeat="price in ctrl.pricesHelper" ng-hide="price.pending_to_delete()" >
        <td>
          <b>{{ ctrl.pricesHelper.indexOf(price) + 1}}</b>
        </td>
        <td>
          {{price.unit}}
          <b ng-if="price.unit == '0'">Pcs</b>
          <b ng-if="price.unit == 1">Skids</b>
        </td>
        <td>
          <b>{{price.number}}</b>
        </td>
        <td>
          <b>{{price.price}}</b>
        </td>
      </tr>
    </table>
  </div>
  <button ng-click="ctrl.modalAddNewPriceList()" type="button" class="btn btn-primary pull-right" style="margin-right: 25px;margin-bottom: 10px;"><i class="fa fa-1 fa-plus"></i><span>New List of Price</span></button>
</div>
