<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="packages/angular_ui/css/angular.css">
  <link rel="stylesheet" href="packages/angular_ui/carousel/slide.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="bootstrap.min.css"> -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


  <link rel="import" href="packages/polymer/polymer.html">
<!--   <link rel="import" href="packages/transnode/component/sort/sort.html">
  <link rel="import" href="packages/transnode/component/sort/search_customer.html">
   -->

  <link rel="stylesheet" href="packages/angular_ui/css/angular.css">
  <link rel="stylesheet" href="transnode.css">
  <title>Transnode</title>
</head>
<body transnode>
  <div ng-hide="true">
    <h1>Loading...</h1>
  </div>

    <nav class="navbar navbar-default" role="navigation" ng-show="app.isAuthenticated" ng-cloak>
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="transnode-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Transnode (ctrl+1)</a>
        </div>

        <div class="collapse navbar-collapse" id="transnode-navbar">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="#/customers">Customers (ctrl+2)</a></li>
            <li><a href="#/shipments/new">Shipment Order (ctrl+3)</a></li>
            <li><a href="#/users">Users (ctrl+4)</a></li>
            <li><a href="#/contacts">Contacts (ctrl+5)</a></li>
            <!-- <li><a href="#/carriers">Carriers (ctrl+6)</a></li> -->
            <!-- <li><a href="#/quotes">Quotes (ctrl+7)</a></li> -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Carrier <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#/carriers/new">New Carrier</a></li>
                <li><a href="#/carriers">Carriers</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quote <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#/quotes/new">New Quote</a></li>
                <li><a href="#/quotes">Search Request Quotes</a></li>
                <li><a href="#/search_quote">Search Quotes</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shipment <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#/shipments/new">New Shipment Order</a></li>
                <li><a href="#/shipments">Search Shipment</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
            <span class="navbar-user">
              Hello, {{ app.email }}
              <button login-controller type="button" ng-click="login.signOut()" class="btn btn-default">Sign Out</button>
            </span>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  <div class="container">
    <div messages-controller ng-show="messagesCtrl.hasMessage" ng-cloak>
      <div ng-repeat="message in messagesCtrl.messages" class="alert" ng-class="messagesCtrl.cssClassFor(message)">
      <button type='button' class='close' ng-click='messagesCtrl.dismiss(message)'>&times;</button>
        {{ message.content }}
      </div>
    </div>
  </div>

  <div class="container">
    <ng-view></ng-view>
  </div>

  <script type="application/dart" src="transnode.dart"></script>
  <script type="text/javascript"  src="packages/browser/dart.js"></script>
</body>
</html>
